.u-section-1 {
  background-image: url("images/Group1169.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-text-1 {
  font-family: "Yeseva One";
  background-image: none;
  font-size: 4.375rem;
  width: 427px;
  margin: 226px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 412px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 316px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 237px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}.u-section-2 {
  min-height: 2012px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 10px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 2002px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-family: "Josefin Sans";
  margin: 0 715px 0 52px;
}

.u-section-2 .u-text-2 {
  font-family: "Yeseva One";
  font-size: 2.5rem;
  margin: 20px 0 0 53px;
}

.u-section-2 .u-image-1 {
  width: 736px;
  height: 445px;
  margin: 32px auto 0 53px;
}

.u-section-2 .u-text-3 {
  font-family: "Josefin Sans";
  font-size: 1.375rem;
  font-weight: 300;
  margin: 20px 0 0 53px;
}

.u-section-2 .u-text-4 {
  font-family: "Josefin Sans";
  font-size: 1.375rem;
  font-weight: 300;
  margin: 20px 0 0 53px;
}

.u-section-2 .u-image-2 {
  width: 736px;
  height: 587px;
  margin: 30px auto 0 53px;
}

.u-section-2 .u-text-5 {
  font-weight: 400;
  font-family: "Josefin Sans";
  font-size: 1.125rem;
  margin: 14px 62px 0 597px;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-family: "Josefin Sans";
  font-size: 1.125rem;
  margin: 0 62px 0 550px;
}

.u-section-2 .u-text-7 {
  font-family: "Josefin Sans";
  font-size: 1rem;
  font-weight: 700;
  margin: 32px 482px 0 232px;
}

.u-section-2 .u-text-8 {
  font-family: "Josefin Sans";
  font-size: 1.125rem;
  font-weight: 700;
  margin: -25px 289px 0 445px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 2002px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-line-1 {
  width: 264px;
  height: 2px;
  position: absolute;
  top: 491px;
  left: 30px;
  margin-left: 0;
}

.u-section-2 .u-line-2 {
  width: 264px;
  height: 2px;
  position: absolute;
  top: 765px;
  left: 30px;
  margin-left: 0;
}

.u-section-2 .u-line-3 {
  width: 264px;
  height: 2px;
  position: absolute;
  top: 1025px;
  left: 28px;
}

.u-section-2 .u-text-9 {
  font-family: "Josefin Sans";
  font-weight: 700;
  margin: 45px 229px 0 0;
}

.u-section-2 .u-line-4 {
  width: 264px;
  height: 2px;
  margin: 14px auto 0 0;
}

.u-section-2 .u-text-10 {
  font-family: "Josefin Sans";
  font-weight: 700;
  margin: 25px 185px 0 0;
}

.u-section-2 .u-text-11 {
  font-family: "Josefin Sans";
  font-weight: 700;
  margin: 40px 254px 0 0;
}

.u-section-2 .u-text-12 {
  font-family: "Josefin Sans";
  font-weight: 700;
  margin: 41px 279px 0 0;
}

.u-section-2 .u-text-13 {
  font-family: "Josefin Sans";
  font-weight: 700;
  margin: 40px 152px 0 0;
}

.u-section-2 .u-text-14 {
  font-family: "Josefin Sans";
  font-weight: 700;
  margin: 65px 142px 0 0;
}

.u-section-2 .u-text-15 {
  font-family: "Josefin Sans";
  margin: 36px 164px 0 0;
}

.u-section-2 .u-text-16 {
  font-family: "Josefin Sans";
  margin: 14px 153px 0 0;
}

.u-section-2 .u-text-17 {
  font-family: "Josefin Sans";
  margin: 14px 78px 0 0;
}

.u-section-2 .u-text-18 {
  font-family: "Josefin Sans";
  margin: 14px 80px 0 -2px;
}

.u-section-2 .u-text-19 {
  font-family: "Josefin Sans";
  font-weight: 700;
  margin: 74px 268px 0 0;
}

.u-section-2 .u-text-20 {
  font-family: "Josefin Sans";
  margin: 28px 174px 0 0;
}

.u-section-2 .u-text-21 {
  font-family: "Josefin Sans";
  margin: 13px 192px 0 0;
}

.u-section-2 .u-text-22 {
  font-family: "Josefin Sans";
  margin: 14px 158px 0 0;
}

.u-section-2 .u-text-23 {
  font-family: "Josefin Sans";
  font-weight: 700;
  margin: 105px 230px 0 0;
}

.u-section-2 .u-image-3 {
  width: 20px;
  height: 20px;
  margin: 40px auto 0 16px;
}

.u-section-2 .u-image-4 {
  width: 19px;
  height: 19px;
  margin: -19px auto 0 74px;
}

@media (max-width: 1199px) {
  .u-section-2 {
    min-height: 1661px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 1651px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 627px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-image-1 {
    width: 598px;
    height: 362px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 598px;
    height: 477px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 519px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 0;
    margin-left: 472px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 412px;
    margin-left: 162px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 219px;
    margin-left: 375px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 1651px;
  }

  .u-section-2 .u-line-1 {
    width: 222px;
  }

  .u-section-2 .u-line-2 {
    width: 222px;
  }

  .u-section-2 .u-line-3 {
    width: 222px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 169px;
  }

  .u-section-2 .u-line-4 {
    width: 222px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 125px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 194px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 219px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 92px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 82px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 104px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 93px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 18px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 50px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 208px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 114px;
  }

  .u-section-2 .u-text-21 {
    margin-right: 132px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 98px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 170px;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 110px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 473px;
  }

  .u-section-2 .u-image-1 {
    width: 444px;
    height: 269px;
  }

  .u-section-2 .u-image-2 {
    width: 444px;
    height: 354px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 365px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 318px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 335px;
    margin-left: 85px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 142px;
    margin-left: 298px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-line-1 {
    width: 156px;
  }

  .u-section-2 .u-line-2 {
    width: 156px;
  }

  .u-section-2 .u-line-3 {
    width: 156px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 103px;
  }

  .u-section-2 .u-line-4 {
    width: 156px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 59px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 128px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 153px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 26px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 16px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 38px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 27px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 0;
  }

  .u-section-2 .u-text-18 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-19 {
    margin-right: 142px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 48px;
  }

  .u-section-2 .u-text-21 {
    margin-right: 66px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 32px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 104px;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 210px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 273px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 194px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 255px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 165px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 118px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 220px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-right: 42px;
    margin-left: 198px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-right: 0;
  }

  .u-section-2 .u-text-11 {
    margin-right: 0;
  }

  .u-section-2 .u-text-12 {
    margin-right: 0;
  }

  .u-section-2 .u-text-13 {
    margin-right: 0;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }

  .u-section-2 .u-text-15 {
    margin-right: 0;
  }

  .u-section-2 .u-text-16 {
    margin-right: 0;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
  }

  .u-section-2 .u-text-20 {
    margin-right: 0;
  }

  .u-section-2 .u-text-21 {
    margin-right: 0;
  }

  .u-section-2 .u-text-22 {
    margin-right: 0;
  }

  .u-section-2 .u-text-23 {
    margin-right: 0;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 405px;
}

.u-section-3 .u-line-1 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: auto;
  top: 97px;
  right: 150px;
  margin-left: 885px;
}

.u-section-3 .u-line-2 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: auto;
  top: 168px;
  right: 150px;
  margin-left: 885px;
}

.u-section-3 .u-line-3 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: 1356px;
  top: 112px;
  right: 357px;
  margin-left: 678px;
}

.u-section-3 .u-line-4 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: auto;
  top: 134px;
  right: 150px;
  margin-left: 885px;
}

.u-section-3 .u-line-5 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  top: 205px;
  left: auto;
  right: 150px;
  margin-left: 885px;
}

.u-section-3 .u-line-6 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  top: 236px;
  left: auto;
  right: 150px;
}

.u-section-3 .u-image-1 {
  width: 16px;
  height: 29px;
  margin: 61px 13px 0 auto;
}

.u-section-3 .u-image-2 {
  width: 28px;
  height: 28px;
  margin: -28px 56px 0 auto;
}

.u-section-3 .u-text-1 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 700;
  margin: -22px 186px 0 885px;
}

.u-section-3 .u-btn-1 {
  padding: 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -25px auto 0 633px;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -22px auto 0 404px;
  padding: 0;
}

.u-section-3 .u-btn-4 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 14px auto 0 885px;
  padding: 0;
}

.u-section-3 .u-btn-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -27px auto 0 633px;
  padding: 0;
}

.u-section-3 .u-text-2 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 160px 0 885px;
}

.u-section-3 .u-btn-6 {
  padding: 0;
}

.u-section-3 .u-btn-7 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -10px auto 0 885px;
  padding: 0;
}

.u-section-3 .u-btn-8 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -66px auto 0 633px;
  padding: 0;
}

.u-section-3 .u-btn-9 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 633px;
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 700;
  margin: 24px 122px 0 885px;
}

.u-section-3 .u-btn-10 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -36px auto 0 633px;
  padding: 0;
}

.u-section-3 .u-btn-11 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 633px;
  padding: 0;
}

.u-section-3 .u-btn-12 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: -149px auto 0 404px;
  padding: 0;
}

.u-section-3 .u-btn-13 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-3 .u-btn-14 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-3 .u-btn-15 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-3 .u-btn-16 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 31px auto 0 633px;
  padding: 0;
}

.u-section-3 .u-btn-17 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -43px auto 0 404px;
  padding: 0;
}

.u-section-3 .u-btn-18 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-3 .u-image-3 {
  width: 230px;
  height: 59px;
  margin: -227px 838px 0 auto;
}

.u-section-3 .u-image-4 {
  width: 160px;
  height: 60px;
  margin: 18px 838px 0 auto;
}

.u-section-3 .u-image-5 {
  width: 60px;
  height: 42px;
  margin: -51px auto 0 72px;
}

.u-section-3 .u-text-4 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: normal;
  margin: 18px 897px 0 72px;
}

.u-section-3 .u-text-5 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.625rem;
  margin: 99px 120px 10px 633px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-line-1 {
    margin-top: 0;
    margin-left: 835px;
  }

  .u-section-3 .u-line-2 {
    margin-top: 0;
    margin-left: 835px;
  }

  .u-section-3 .u-line-3 {
    margin-top: 678px;
  }

  .u-section-3 .u-line-4 {
    margin-top: 0;
    margin-left: 835px;
  }

  .u-section-3 .u-line-5 {
    height: 1px;
    margin-left: 835px;
  }

  .u-section-3 .u-line-6 {
    height: 1px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 86px;
    margin-left: 785px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: -14px;
    margin-left: 433px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -79px;
    margin-left: 204px;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 62px;
    margin-left: 685px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 433px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 60px;
    margin-left: 785px;
  }

  .u-section-3 .u-btn-7 {
    margin-left: 685px;
  }

  .u-section-3 .u-btn-8 {
    margin-top: -61px;
    margin-left: 433px;
  }

  .u-section-3 .u-btn-9 {
    margin-top: -32px;
    margin-left: 433px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -11px;
    margin-right: 22px;
    margin-left: 785px;
  }

  .u-section-3 .u-btn-10 {
    margin-left: 433px;
  }

  .u-section-3 .u-btn-11 {
    margin-top: 63px;
    margin-left: 433px;
  }

  .u-section-3 .u-btn-12 {
    margin-top: -151px;
    margin-left: 204px;
  }

  .u-section-3 .u-btn-13 {
    margin-top: 7px;
    margin-left: 204px;
  }

  .u-section-3 .u-btn-14 {
    margin-top: 1px;
    margin-left: 204px;
  }

  .u-section-3 .u-btn-15 {
    margin-top: 13px;
    margin-left: 204px;
  }

  .u-section-3 .u-btn-16 {
    margin-top: 70px;
    margin-left: 433px;
  }

  .u-section-3 .u-btn-17 {
    margin-top: -27px;
    margin-left: 204px;
  }

  .u-section-3 .u-btn-18 {
    margin-top: -88px;
    margin-left: 204px;
  }

  .u-section-3 .u-image-3 {
    margin-top: -234px;
    margin-right: 710px;
  }

  .u-section-3 .u-image-4 {
    margin-top: 22px;
    margin-right: 710px;
  }

  .u-section-3 .u-image-5 {
    margin-top: -81px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 183px;
    margin-right: 697px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 20px;
    margin-left: 533px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-line-1 {
    left: 509px;
    margin-left: 615px;
  }

  .u-section-3 .u-line-2 {
    left: 509px;
    margin-left: 615px;
  }

  .u-section-3 .u-line-3 {
    left: 1323px;
    margin-left: 615px;
  }

  .u-section-3 .u-line-4 {
    left: 509px;
    margin-left: 615px;
  }

  .u-section-3 .u-line-5 {
    margin-left: 615px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 852px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 651px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 1684px;
    margin-left: 213px;
  }

  .u-section-3 .u-btn-3 {
    margin-top: -8px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 96px;
    margin-left: 465px;
  }

  .u-section-3 .u-btn-5 {
    margin-top: -61px;
    margin-left: 213px;
  }

  .u-section-3 .u-text-2 {
    margin-top: -1704px;
    margin-right: 0;
    margin-left: 625px;
  }

  .u-section-3 .u-btn-7 {
    margin-top: 1725px;
    margin-left: 465px;
  }

  .u-section-3 .u-btn-8 {
    margin-top: -72px;
    margin-left: 213px;
  }

  .u-section-3 .u-btn-9 {
    margin-left: 213px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -1707px;
    margin-right: 0;
    margin-left: 651px;
  }

  .u-section-3 .u-btn-10 {
    margin-top: 1704px;
    margin-left: 213px;
  }

  .u-section-3 .u-btn-11 {
    margin-top: -25px;
    margin-left: 213px;
  }

  .u-section-3 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-13 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-16 {
    margin-top: 48px;
    margin-left: 213px;
  }

  .u-section-3 .u-btn-17 {
    margin-top: -5px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-18 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-top: -289px;
    margin-right: 490px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 490px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -1535px;
    margin-right: 477px;
  }

  .u-section-3 .u-text-5 {
    margin: 1652px 0 0 333px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-line-1 {
    margin-left: 435px;
  }

  .u-section-3 .u-line-2 {
    margin-left: 435px;
  }

  .u-section-3 .u-line-3 {
    left: 1143px;
    margin-left: 435px;
    margin-top: 615px;
  }

  .u-section-3 .u-line-4 {
    margin-left: 435px;
  }

  .u-section-3 .u-line-5 {
    margin-left: 435px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 762px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 471px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 33px;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 285px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 33px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 445px;
  }

  .u-section-3 .u-btn-7 {
    margin-left: 285px;
  }

  .u-section-3 .u-btn-8 {
    margin-left: 33px;
  }

  .u-section-3 .u-btn-9 {
    margin-left: 33px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 471px;
  }

  .u-section-3 .u-btn-10 {
    margin-left: 33px;
  }

  .u-section-3 .u-btn-11 {
    margin-left: 33px;
  }

  .u-section-3 .u-btn-16 {
    margin-left: 33px;
  }

  .u-section-3 .u-image-3 {
    margin-right: 310px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 310px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 297px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-line-1 {
    margin-left: 235px;
  }

  .u-section-3 .u-line-2 {
    margin-left: 235px;
  }

  .u-section-3 .u-line-3 {
    left: 943px;
    margin-left: 235px;
    margin-top: 435px;
  }

  .u-section-3 .u-line-4 {
    margin-left: 235px;
  }

  .u-section-3 .u-line-5 {
    margin-left: 235px;
  }

  .u-section-3 .u-image-2 {
    margin-left: 662px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 271px;
  }

  .u-section-3 .u-btn-2 {
    margin-top: 1748px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-4 {
    margin-left: 85px;
  }

  .u-section-3 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -1768px;
    margin-left: 245px;
  }

  .u-section-3 .u-btn-7 {
    margin-top: 1789px;
    margin-left: 85px;
  }

  .u-section-3 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-top: -1771px;
    margin-left: 271px;
  }

  .u-section-3 .u-btn-10 {
    margin-top: 1768px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-3 .u-image-3 {
    margin-right: 110px;
  }

  .u-section-3 .u-image-4 {
    margin-right: 110px;
  }

  .u-section-3 .u-text-4 {
    margin-top: -1599px;
    margin-right: 97px;
  }

  .u-section-3 .u-text-5 {
    margin-top: 1700px;
    margin-left: 0;
  }
}