.u-section-3-1 .u-sheet-1 {
  min-height: 644px;
}

.u-section-3-1 .u-image-1 {
  width: 930px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-3-1 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-3-1 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-3-1 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-3-1 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-3-2 .u-sheet-1 {
  min-height: 644px;
}

.u-section-3-2 .u-image-1 {
  width: 930px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-3-2 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-3-2 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-3-2 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-3-2 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-3-3 .u-sheet-1 {
  min-height: 644px;
}

.u-section-3-3 .u-image-1 {
  width: 930px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-3-3 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-3-3 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-3-3 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-3-3 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-3-4 .u-sheet-1 {
  min-height: 644px;
}

.u-section-3-4 .u-image-1 {
  width: 930px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-3-4 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-3-4 .u-image-1 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
  .u-section-3-4 .u-image-1 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
  .u-section-3-4 .u-image-1 {
    width: 340px;
    height: 191px;
  }
}.u-section-3-5 .u-sheet-1 {
  min-height: 644px;
}

.u-section-3-5 .u-image-1 {
  width: 836px;
  height: 523px;
  margin: 32px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-3-5 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-3-5 .u-image-1 {
    width: 720px;
    height: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-3-5 .u-image-1 {
    width: 540px;
    height: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-3-5 .u-image-1 {
    width: 340px;
    height: 213px;
  }
}.u-section-3-6 .u-sheet-1 {
  min-height: 644px;
}

.u-section-3-6 .u-image-1 {
  width: 836px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-3-6 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-3-6 .u-image-1 {
    width: 720px;
    height: 450px;
  }
}

@media (max-width: 767px) {
  .u-section-3-6 .u-image-1 {
    width: 540px;
    height: 338px;
  }
}

@media (max-width: 575px) {
  .u-section-3-6 .u-image-1 {
    width: 340px;
    height: 213px;
  }
}.u-section-3-7 .u-sheet-1 {
  min-height: 644px;
}

.u-section-3-7 .u-image-1 {
  width: 710px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-7 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-3-7 .u-sheet-1 {
    min-height: 655px;
  }
}

@media (max-width: 767px) {
  .u-section-3-7 .u-image-1 {
    width: 540px;
    height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-3-7 .u-image-1 {
    width: 340px;
    height: 251px;
  }
}.u-section-3-8 .u-sheet-1 {
  min-height: 644px;
}

.u-section-3-8 .u-image-1 {
  width: 710px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3-8 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-3-8 .u-sheet-1 {
    min-height: 655px;
  }
}

@media (max-width: 767px) {
  .u-section-3-8 .u-image-1 {
    width: 540px;
    height: 398px;
  }
}

@media (max-width: 575px) {
  .u-section-3-8 .u-image-1 {
    width: 340px;
    height: 251px;
  }
}.u-section-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/Group1194.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-text-1 {
  font-family: "Yeseva One";
  font-weight: normal;
  text-shadow: 0 3px 10px rgba(0,0,0,0.4);
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0);
  font-size: 4.375rem;
  margin: 315px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  border-style: solid;
  font-weight: 700;
  font-family: Aldrich;
  letter-spacing: 3px;
  margin: 49px auto 60px;
  padding: 13px 30px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 511px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 252px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 391px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 145px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 91px;
    font-size: 3rem;
  }
}.u-section-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 360px;
}

.u-section-2 .u-text-1 {
  font-family: "Yeseva One";
  font-size: 2.8125rem;
  line-height: 1.3;
  letter-spacing: 0px;
  background-image: none;
  margin: 100px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 1.375rem;
  margin: 22px 39px 18px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 414px;
    margin-left: 299px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 229px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 172px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 108px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 23px;
  }
}.u-block-2179-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-2179-2 {
  position: absolute;
  width: 36px;
  height: 3px;
  top: auto;
  bottom: 57px;
}

.u-block-2179-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -60px);
  width: 45px;
  height: 45px;
  top: 255px;
  right: auto;
}

.u-block-2179-4 {
  position: absolute;
  width: 45px;
  height: 45px;
  left: auto;
  top: 255px;
  right: calc(((100% - 1140px) / 2)  + -57px);
}

@media (max-width: 1199px) {
  .u-block-2179-5 {
    left: calc(((100% - 940px) / 2)  + -160px);
  }

  .u-block-2179-4 {
    right: calc(((100% - 940px) / 2)  + -157px);
  }
}

@media (max-width: 991px) {
  .u-block-2179-5 {
    left: calc(((100% - 720px) / 2)  + -270px);
  }

  .u-block-2179-4 {
    right: calc(((100% - 720px) / 2)  + -267px);
  }
}

@media (max-width: 767px) {
  .u-block-2179-5 {
    left: calc(((100% - 540px) / 2)  + -360px);
  }

  .u-block-2179-4 {
    right: calc(((100% - 540px) / 2)  + -357px);
  }
}

@media (max-width: 575px) {
  .u-block-2179-5 {
    left: calc(((100% - 340px) / 2)  + -460px);
  }

  .u-block-2179-4 {
    right: calc(((100% - 340px) / 2)  + -457px);
  }
}.u-section-4 .u-sheet-1 {
  min-height: 154px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.75rem;
  font-family: Aldrich;
  letter-spacing: 3px;
  margin: 20px auto 0 236px;
  padding: 13px 45px 14px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 0.75rem;
  font-family: Aldrich;
  letter-spacing: 3px;
  margin: -50px 227px 60px auto;
  padding: 13px 58px 14px 57px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-btn-1 {
    margin-left: 36px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 250px;
}

.u-section-5 .u-text-1 {
  font-family: "Yeseva One";
  font-size: 2.25rem;
  line-height: 1.3;
  margin: 60px 659px 0 -17px;
}

.u-section-5 .u-line-1 {
  height: 74px;
  transform-origin: center top 0;
  width: 3px;
  margin: -78px auto 0 519px;
}

.u-section-5 .u-text-2 {
  font-family: "Josefin Sans";
  font-size: 1.25rem;
  font-weight: 300;
  background-image: none;
  margin: -85px 10px 60px 580px;
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 569px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 8px;
    margin-left: 435px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 469px;
  }

  .u-section-5 .u-line-1 {
    margin-left: 337px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 5px;
    margin-left: 274px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 363px;
}

.u-section-6 .u-text-1 {
  font-size: 2.8125rem;
  font-family: "Yeseva One";
  line-height: 1.3;
  margin: 80px auto 0;
}

.u-section-6 .u-text-2 {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 300;
  width: 834px;
  margin: 21px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
    width: 912px;
    height: 128px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 2147px;
}

.u-section-7 .u-image-1 {
  width: 530px;
  height: 298px;
  margin: 40px 0 0 591px;
}

.u-section-7 .u-line-1 {
  width: 111px;
  height: 3px;
  transform-origin: center top 0;
  margin: -298px auto 0 360px;
}

.u-section-7 .u-text-1 {
  font-family: "Josefin Sans";
  font-size: 1.25rem;
  font-weight: 600;
  margin: 43px 669px 0 247px;
}

.u-section-7 .u-text-2 {
  font-family: "Yeseva One";
  font-size: 2.25rem;
  line-height: 1.3;
  margin: 29px 669px 0 60px;
}

.u-section-7 .u-text-3 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 51px 672px 0 261px;
}

.u-section-7 .u-image-2 {
  width: 536px;
  height: 536px;
  margin: 71px 13px 0 auto;
}

.u-section-7 .u-line-2 {
  width: 111px;
  height: 3px;
  transform-origin: center top 0;
  position: absolute;
  top: 383px;
  left: 360px;
}

.u-section-7 .u-text-4 {
  font-family: "Josefin Sans";
  font-size: 1.25rem;
  font-weight: 600;
  margin: -490px 669px 0 247px;
}

.u-section-7 .u-text-5 {
  font-family: "Yeseva One";
  font-size: 2.25rem;
  line-height: 1.3;
  margin: 29px 669px 0 60px;
}

.u-section-7 .u-text-6 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 51px 672px 0 261px;
}

.u-section-7 .u-image-3 {
  width: 536px;
  height: 383px;
  margin: 335px 13px 0 auto;
}

.u-section-7 .u-line-3 {
  width: 111px;
  height: 3px;
  transform-origin: center top 0;
  position: absolute;
  top: 990px;
  left: 360px;
}

.u-section-7 .u-text-7 {
  font-family: "Josefin Sans";
  font-size: 1.25rem;
  font-weight: 600;
  margin: -335px 665px 0 217px;
}

.u-section-7 .u-text-8 {
  font-family: "Yeseva One";
  font-size: 2.25rem;
  line-height: 1.3;
  margin: 31px 665px 0 82px;
}

.u-section-7 .u-text-9 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  margin: 49px 672px 0 261px;
}

.u-section-7 .u-image-4 {
  width: 536px;
  height: 453px;
  margin: 180px 13px 0 auto;
}

.u-section-7 .u-line-4 {
  width: 111px;
  height: 3px;
  transform-origin: center top 0;
  position: absolute;
  top: 1444px;
  left: 360px;
}

.u-section-7 .u-text-10 {
  font-family: "Josefin Sans";
  font-size: 1.25rem;
  font-weight: 600;
  margin: -407px 669px 0 240px;
}

.u-section-7 .u-text-11 {
  font-family: "Yeseva One";
  font-size: 2.25rem;
  line-height: 1.3;
  margin: 29px 665px 0 82px;
}

.u-section-7 .u-text-12 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-image: none;
  margin: 51px 672px 0 261px;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.75rem;
  font-family: Aldrich;
  letter-spacing: 3px;
  margin: 230px auto 60px;
  padding: 13px 45px 14px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-1 {
    margin-left: 410px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 569px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 569px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 572px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 569px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 569px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 572px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 565px;
    margin-left: 244px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 565px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 572px;
  }

  .u-section-7 .u-text-10 {
    margin-right: 569px;
  }

  .u-section-7 .u-text-11 {
    margin-right: 547px;
  }

  .u-section-7 .u-text-12 {
    margin-right: 572px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-1 {
    margin-left: 190px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 459px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 459px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 462px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 459px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 459px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 462px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 455px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 455px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 462px;
  }

  .u-section-7 .u-text-10 {
    margin-right: 459px;
  }

  .u-section-7 .u-text-11 {
    margin-right: 327px;
  }

  .u-section-7 .u-text-12 {
    margin-right: 462px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-1 {
    margin-left: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 316px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 316px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 333px;
  }

  .u-section-7 .u-image-2 {
    margin-right: 4px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 316px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 316px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 333px;
  }

  .u-section-7 .u-image-3 {
    margin-right: 4px;
  }

  .u-section-7 .u-text-7 {
    margin-right: 282px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 282px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 333px;
  }

  .u-section-7 .u-image-4 {
    margin-right: 4px;
  }

  .u-section-7 .u-text-10 {
    margin-right: 309px;
  }

  .u-section-7 .u-text-11 {
    margin-right: 147px;
  }

  .u-section-7 .u-text-12 {
    margin-right: 333px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-1 {
    width: 340px;
    height: 191px;
    margin-left: 0;
  }

  .u-section-7 .u-line-1 {
    margin-top: -191px;
    margin-left: 229px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 116px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 116px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 133px;
  }

  .u-section-7 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-right: 0;
  }

  .u-section-7 .u-text-4 {
    margin-right: 116px;
  }

  .u-section-7 .u-text-5 {
    margin-right: 116px;
  }

  .u-section-7 .u-text-6 {
    margin-right: 133px;
  }

  .u-section-7 .u-image-3 {
    width: 340px;
    height: 243px;
    margin-right: 0;
  }

  .u-section-7 .u-text-7 {
    margin-right: 82px;
  }

  .u-section-7 .u-text-8 {
    margin-right: 82px;
  }

  .u-section-7 .u-text-9 {
    margin-right: 133px;
  }

  .u-section-7 .u-image-4 {
    width: 340px;
    height: 287px;
    margin-right: 0;
  }

  .u-section-7 .u-text-10 {
    margin-right: 109px;
  }

  .u-section-7 .u-text-11 {
    margin-right: 0;
  }

  .u-section-7 .u-text-12 {
    margin-right: 133px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 228px;
}

.u-section-8 .u-text-1 {
  font-family: "Yeseva One";
  font-size: 2.25rem;
  line-height: 1.3;
  margin: 60px 774px 0 54px;
}

.u-section-8 .u-line-1 {
  height: 74px;
  transform-origin: center top 0;
  width: 3px;
  margin: -78px auto 0 425px;
}

.u-section-8 .u-text-2 {
  font-family: "Josefin Sans";
  font-size: 1.25rem;
  font-weight: 300;
  background-image: none;
  margin: -83px 33px 60px 489px;
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-left: 0;
    margin-right: 608px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 428px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 25px;
    margin-left: 367px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-text-1 {
    margin-right: 228px;
  }

  .u-section-8 .u-line-1 {
    margin-left: 337px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 16px;
    margin-left: 231px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 1222px;
}

.u-section-9 .u-text-1 {
  font-size: 2.25rem;
  font-family: "Yeseva One";
  line-height: 1.3;
  margin: 80px auto 0;
}

.u-section-9 .u-text-2 {
  font-family: "Josefin Sans";
  font-size: 1.25rem;
  font-weight: 300;
  margin: 21px auto 0;
}

.u-section-9 .u-text-3 {
  font-family: "Yeseva One";
  font-size: 2.1875rem;
  margin: 32px auto 0 229px;
}

.u-section-9 .u-text-4 {
  font-family: "Yeseva One";
  font-size: 2.1875rem;
  margin: -55px 232px 0 auto;
}

.u-section-9 .u-image-1 {
  width: 445px;
  height: 242px;
  margin: 0 auto 0 80px;
}

.u-section-9 .u-image-2 {
  width: 445px;
  height: 242px;
  margin: -242px 80px 0 auto;
}

.u-section-9 .u-icon-1 {
  height: 31px;
  width: 43px;
  margin: 3px auto 0 91px;
}

.u-section-9 .u-icon-2 {
  height: 42px;
  width: 42px;
  margin: -31px auto 0 330px;
}

.u-section-9 .u-icon-3 {
  height: 30px;
  width: 30px;
  margin: -42px auto 0 174px;
}

.u-section-9 .u-icon-4 {
  height: 41px;
  width: 46px;
  margin: -30px auto 0 244px;
}

.u-section-9 .u-icon-5 {
  height: 24px;
  width: 46px;
  margin: -41px auto 0 413px;
}

.u-section-9 .u-text-5 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: 16px auto 0 80px;
}

.u-section-9 .u-text-6 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -32px auto 0 157px;
}

.u-section-9 .u-text-7 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -31px auto 0 237px;
}

.u-section-9 .u-text-8 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -31px 745px 0 307px;
}

.u-section-9 .u-text-9 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -64px 662px 0 395px;
}

.u-section-9 .u-icon-6 {
  height: 23px;
  width: 46px;
  margin: -76px 474px 0 auto;
}

.u-section-9 .u-text-10 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: 19px 471px 0 auto;
}

.u-section-9 .u-icon-7 {
  height: 30px;
  width: 30px;
  margin: -74px 403px 0 auto;
}

.u-section-9 .u-icon-8 {
  height: 41px;
  width: 46px;
  margin: -28px 316px 0 auto;
}

.u-section-9 .u-icon-9 {
  height: 42px;
  width: 42px;
  margin: -41px 234px 0 auto;
}

.u-section-9 .u-icon-10 {
  height: 24px;
  width: 46px;
  margin: -44px 147px 0 auto;
}

.u-section-9 .u-text-11 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: 18px 386px 0 auto;
}

.u-section-9 .u-text-12 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -31px 309px 0 auto;
}

.u-section-9 .u-text-13 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -31px 211px 0 842px;
}

.u-section-9 .u-text-14 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -66px 128px 0 929px;
}

.u-section-9 .u-text-15 {
  font-family: "Yeseva One";
  font-size: 2.1875rem;
  margin: 54px auto 0 243px;
}

.u-section-9 .u-image-3 {
  width: 445px;
  height: 242px;
  margin: 2px auto 0 80px;
}

.u-section-9 .u-icon-11 {
  height: 27px;
  width: 46px;
  margin: 3px auto 0 133px;
}

.u-section-9 .u-icon-12 {
  height: 30px;
  width: 30px;
  margin: -27px auto 0 220px;
}

.u-section-9 .u-icon-13 {
  height: 42px;
  width: 42px;
  margin: -30px auto 0 293px;
}

.u-section-9 .u-icon-14 {
  height: 24px;
  width: 46px;
  margin: -43px auto 0 380px;
}

.u-section-9 .u-image-4 {
  width: 536px;
  height: 250px;
  margin: -252px 34px 0 auto;
}

.u-section-9 .u-text-16 {
  font-family: "Yeseva One";
  font-size: 1.875rem;
  margin: -230px auto 0 615px;
}

.u-section-9 .u-btn-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-family: Aldrich;
  font-size: 0.75rem;
  letter-spacing: 3px;
  background-image: none;
  border-style: none;
  margin: 45px 80px 0 auto;
  padding: 13px 45px 14px;
}

.u-section-9 .u-text-17 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: 66px 942px 0 114px;
}

.u-section-9 .u-text-18 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -32px auto 0 203px;
}

.u-section-9 .u-text-19 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -32px 782px 0 270px;
}

.u-section-9 .u-text-20 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -64px 696px 60px 361px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-3 {
    margin-left: 189px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 191px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 66px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 129px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 195px;
  }

  .u-section-9 .u-text-8 {
    margin-right: 645px;
    margin-left: 207px;
  }

  .u-section-9 .u-text-9 {
    margin-right: 562px;
    margin-left: 295px;
  }

  .u-section-9 .u-text-10 {
    margin-right: 388px;
  }

  .u-section-9 .u-text-11 {
    margin-right: 318px;
  }

  .u-section-9 .u-text-12 {
    margin-right: 254px;
  }

  .u-section-9 .u-text-13 {
    margin-right: 111px;
    margin-left: 742px;
  }

  .u-section-9 .u-text-14 {
    margin-right: 28px;
    margin-left: 829px;
  }

  .u-section-9 .u-text-15 {
    margin-left: 200px;
  }

  .u-section-9 .u-text-16 {
    margin-left: 507px;
  }

  .u-section-9 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-9 .u-text-17 {
    margin-right: 842px;
    margin-left: 14px;
  }

  .u-section-9 .u-text-18 {
    margin-left: 167px;
  }

  .u-section-9 .u-text-19 {
    margin-right: 682px;
    margin-left: 170px;
  }

  .u-section-9 .u-text-20 {
    margin-right: 596px;
    margin-left: 261px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-3 {
    margin-left: 145px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 146px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 51px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 99px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 149px;
  }

  .u-section-9 .u-text-8 {
    margin-right: 535px;
    margin-left: 97px;
  }

  .u-section-9 .u-text-9 {
    margin-right: 452px;
    margin-left: 185px;
  }

  .u-section-9 .u-text-10 {
    margin-right: 297px;
  }

  .u-section-9 .u-text-11 {
    margin-right: 244px;
  }

  .u-section-9 .u-text-12 {
    margin-right: 195px;
  }

  .u-section-9 .u-text-13 {
    margin-right: 1px;
    margin-left: 632px;
  }

  .u-section-9 .u-text-14 {
    margin-right: 0;
    margin-left: 637px;
  }

  .u-section-9 .u-text-15 {
    margin-left: 153px;
  }

  .u-section-9 .u-text-16 {
    margin-left: 388px;
  }

  .u-section-9 .u-text-17 {
    margin-right: 636px;
    margin-left: 0;
  }

  .u-section-9 .u-text-18 {
    margin-left: 128px;
  }

  .u-section-9 .u-text-19 {
    margin-right: 572px;
    margin-left: 60px;
  }

  .u-section-9 .u-text-20 {
    margin-right: 486px;
    margin-left: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-3 {
    margin-left: 109px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 110px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 38px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 74px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 112px;
  }

  .u-section-9 .u-text-8 {
    margin-right: 445px;
    margin-left: 7px;
  }

  .u-section-9 .u-text-9 {
    margin-right: 362px;
    margin-left: 95px;
  }

  .u-section-9 .u-text-10 {
    margin-right: 223px;
  }

  .u-section-9 .u-text-11 {
    margin-right: 183px;
  }

  .u-section-9 .u-text-12 {
    margin-right: 146px;
  }

  .u-section-9 .u-text-13 {
    margin-right: 0;
    margin-left: 453px;
  }

  .u-section-9 .u-text-14 {
    margin-left: 457px;
  }

  .u-section-9 .u-text-15 {
    margin-left: 115px;
  }

  .u-section-9 .u-image-4 {
    margin-right: 4px;
  }

  .u-section-9 .u-text-16 {
    margin-left: 291px;
  }

  .u-section-9 .u-text-17 {
    margin-right: 456px;
  }

  .u-section-9 .u-text-18 {
    margin-left: 96px;
  }

  .u-section-9 .u-text-19 {
    margin-right: 452px;
    margin-left: 0;
  }

  .u-section-9 .u-text-20 {
    margin-right: 396px;
    margin-left: 61px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 960px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 69px;
  }

  .u-section-9 .u-text-4 {
    margin-right: 69px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 185px;
    margin-left: 0;
  }

  .u-section-9 .u-image-2 {
    width: 340px;
    height: 185px;
    margin-top: -185px;
    margin-right: 0;
  }

  .u-section-9 .u-icon-1 {
    margin-top: 60px;
  }

  .u-section-9 .u-icon-2 {
    margin-left: 298px;
  }

  .u-section-9 .u-icon-5 {
    margin-left: 294px;
  }

  .u-section-9 .u-text-5 {
    margin-left: 24px;
  }

  .u-section-9 .u-text-6 {
    margin-left: 47px;
  }

  .u-section-9 .u-text-7 {
    margin-left: 71px;
  }

  .u-section-9 .u-text-8 {
    margin-right: 252px;
    margin-left: 0;
  }

  .u-section-9 .u-text-9 {
    margin-right: 257px;
    margin-left: 0;
  }

  .u-section-9 .u-icon-6 {
    margin-right: 294px;
  }

  .u-section-9 .u-text-10 {
    margin-right: 140px;
  }

  .u-section-9 .u-icon-7 {
    margin-right: 310px;
  }

  .u-section-9 .u-icon-8 {
    margin-right: 294px;
  }

  .u-section-9 .u-text-11 {
    margin-right: 115px;
  }

  .u-section-9 .u-text-12 {
    margin-right: 92px;
  }

  .u-section-9 .u-text-13 {
    margin-left: 253px;
  }

  .u-section-9 .u-text-14 {
    margin-left: 257px;
  }

  .u-section-9 .u-text-15 {
    margin-top: 80px;
    margin-left: 72px;
  }

  .u-section-9 .u-image-3 {
    width: 340px;
    height: 185px;
    margin-top: -24px;
    margin-left: 0;
  }

  .u-section-9 .u-icon-14 {
    margin-left: 294px;
  }

  .u-section-9 .u-image-4 {
    width: 340px;
    height: 159px;
    margin-right: 0;
  }

  .u-section-9 .u-text-16 {
    margin-top: -597px;
    margin-left: 183px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 153px;
  }

  .u-section-9 .u-text-17 {
    margin-top: 317px;
    margin-right: 256px;
  }

  .u-section-9 .u-text-18 {
    margin-left: 60px;
  }

  .u-section-9 .u-text-19 {
    margin-right: 252px;
  }

  .u-section-9 .u-text-20 {
    margin-right: 257px;
    margin-bottom: 0;
    margin-left: 0;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 288px;
}

.u-section-10 .u-image-1 {
  width: 81px;
  height: 81px;
  margin: 70px auto 0 180px;
}

.u-section-10 .u-image-2 {
  width: 115px;
  height: 73px;
  margin: -81px auto 0 410px;
}

.u-section-10 .u-image-3 {
  width: 86px;
  height: 85px;
  margin: -73px 394px 0 637px;
}

.u-section-10 .u-image-4 {
  width: 90px;
  height: 84px;
  margin: -90px 192px 0 871px;
}

.u-section-10 .u-text-1 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: 700;
  margin: 17px 123px 0 815px;
}

.u-section-10 .u-text-2 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: 700;
  margin: -38px 400px 0 619px;
}

.u-section-10 .u-text-3 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: 700;
  margin: -38px 610px 0 398px;
}

.u-section-10 .u-text-4 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: 700;
  margin: -57px 830px 74px 142px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-image-3 {
    margin-right: 306px;
    margin-left: 549px;
  }

  .u-section-10 .u-image-4 {
    margin-right: 86px;
    margin-left: 765px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 101px;
    margin-left: 688px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 519px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 510px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 730px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-image-3 {
    margin-right: 196px;
    margin-left: 439px;
  }

  .u-section-10 .u-image-4 {
    margin-right: 0;
    margin-left: 630px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 77px;
    margin-left: 527px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 409px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 400px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 552px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-image-3 {
    margin-right: 106px;
    margin-left: 349px;
  }

  .u-section-10 .u-image-4 {
    margin-left: 450px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 58px;
    margin-left: 395px;
  }

  .u-section-10 .u-text-2 {
    margin-left: 319px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 310px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 372px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-image-2 {
    margin-left: 225px;
  }

  .u-section-10 .u-image-3 {
    margin-right: 6px;
    margin-left: 249px;
  }

  .u-section-10 .u-image-4 {
    margin-left: 250px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 37px;
    margin-left: 249px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 252px;
    margin-left: 219px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 208px;
    margin-left: 251px;
  }

  .u-section-10 .u-text-4 {
    margin-right: 172px;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 405px;
}

.u-section-11 .u-line-1 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: auto;
  top: 97px;
  right: 150px;
  margin-left: 885px;
}

.u-section-11 .u-line-2 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: auto;
  top: 168px;
  right: 150px;
  margin-left: 885px;
}

.u-section-11 .u-line-3 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: 1356px;
  top: 112px;
  right: 357px;
  margin-left: 678px;
}

.u-section-11 .u-line-4 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: auto;
  top: 134px;
  right: 150px;
  margin-left: 885px;
}

.u-section-11 .u-line-5 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  top: 205px;
  left: auto;
  right: 150px;
  margin-left: 885px;
}

.u-section-11 .u-line-6 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  top: 236px;
  left: auto;
  right: 150px;
}

.u-section-11 .u-image-1 {
  width: 16px;
  height: 29px;
  margin: 61px 13px 0 auto;
}

.u-section-11 .u-image-2 {
  width: 28px;
  height: 28px;
  margin: -28px 56px 0 auto;
}

.u-section-11 .u-text-1 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 700;
  margin: -22px 186px 0 885px;
}

.u-section-11 .u-btn-1 {
  padding: 0;
}

.u-section-11 .u-btn-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -25px auto 0 633px;
  padding: 0;
}

.u-section-11 .u-btn-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -22px auto 0 404px;
  padding: 0;
}

.u-section-11 .u-btn-4 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 14px auto 0 885px;
  padding: 0;
}

.u-section-11 .u-btn-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -27px auto 0 633px;
  padding: 0;
}

.u-section-11 .u-text-2 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 160px 0 885px;
}

.u-section-11 .u-btn-6 {
  padding: 0;
}

.u-section-11 .u-btn-7 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -10px auto 0 885px;
  padding: 0;
}

.u-section-11 .u-btn-8 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -66px auto 0 633px;
  padding: 0;
}

.u-section-11 .u-btn-9 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 633px;
  padding: 0;
}

.u-section-11 .u-text-3 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 700;
  margin: 24px 122px 0 885px;
}

.u-section-11 .u-btn-10 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -36px auto 0 633px;
  padding: 0;
}

.u-section-11 .u-btn-11 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 633px;
  padding: 0;
}

.u-section-11 .u-btn-12 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: -149px auto 0 404px;
  padding: 0;
}

.u-section-11 .u-btn-13 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-11 .u-btn-14 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-11 .u-btn-15 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-11 .u-btn-16 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 31px auto 0 633px;
  padding: 0;
}

.u-section-11 .u-btn-17 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -43px auto 0 404px;
  padding: 0;
}

.u-section-11 .u-btn-18 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-11 .u-image-3 {
  width: 230px;
  height: 59px;
  margin: -227px 838px 0 auto;
}

.u-section-11 .u-image-4 {
  width: 160px;
  height: 60px;
  margin: 18px 838px 0 auto;
}

.u-section-11 .u-image-5 {
  width: 60px;
  height: 42px;
  margin: -51px auto 0 72px;
}

.u-section-11 .u-text-4 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: normal;
  margin: 18px 897px 0 72px;
}

.u-section-11 .u-text-5 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.625rem;
  margin: 99px 120px 10px 633px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-line-1 {
    margin-top: 0;
    margin-left: 835px;
  }

  .u-section-11 .u-line-2 {
    margin-top: 0;
    margin-left: 835px;
  }

  .u-section-11 .u-line-3 {
    margin-top: 678px;
  }

  .u-section-11 .u-line-4 {
    margin-top: 0;
    margin-left: 835px;
  }

  .u-section-11 .u-line-5 {
    height: 1px;
    margin-left: 835px;
  }

  .u-section-11 .u-line-6 {
    height: 1px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 86px;
    margin-left: 785px;
  }

  .u-section-11 .u-btn-2 {
    margin-top: -14px;
    margin-left: 433px;
  }

  .u-section-11 .u-btn-3 {
    margin-top: -79px;
    margin-left: 204px;
  }

  .u-section-11 .u-btn-4 {
    margin-top: 62px;
    margin-left: 685px;
  }

  .u-section-11 .u-btn-5 {
    margin-left: 433px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 60px;
    margin-left: 785px;
  }

  .u-section-11 .u-btn-7 {
    margin-left: 685px;
  }

  .u-section-11 .u-btn-8 {
    margin-top: -61px;
    margin-left: 433px;
  }

  .u-section-11 .u-btn-9 {
    margin-top: -32px;
    margin-left: 433px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -11px;
    margin-right: 22px;
    margin-left: 785px;
  }

  .u-section-11 .u-btn-10 {
    margin-left: 433px;
  }

  .u-section-11 .u-btn-11 {
    margin-top: 63px;
    margin-left: 433px;
  }

  .u-section-11 .u-btn-12 {
    margin-top: -151px;
    margin-left: 204px;
  }

  .u-section-11 .u-btn-13 {
    margin-top: 7px;
    margin-left: 204px;
  }

  .u-section-11 .u-btn-14 {
    margin-top: 1px;
    margin-left: 204px;
  }

  .u-section-11 .u-btn-15 {
    margin-top: 13px;
    margin-left: 204px;
  }

  .u-section-11 .u-btn-16 {
    margin-top: 70px;
    margin-left: 433px;
  }

  .u-section-11 .u-btn-17 {
    margin-top: -27px;
    margin-left: 204px;
  }

  .u-section-11 .u-btn-18 {
    margin-top: -88px;
    margin-left: 204px;
  }

  .u-section-11 .u-image-3 {
    margin-top: -234px;
    margin-right: 710px;
  }

  .u-section-11 .u-image-4 {
    margin-top: 22px;
    margin-right: 710px;
  }

  .u-section-11 .u-image-5 {
    margin-top: -81px;
  }

  .u-section-11 .u-text-4 {
    margin-top: 183px;
    margin-right: 697px;
  }

  .u-section-11 .u-text-5 {
    margin-right: 20px;
    margin-left: 533px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-line-1 {
    left: 509px;
    margin-left: 615px;
  }

  .u-section-11 .u-line-2 {
    left: 509px;
    margin-left: 615px;
  }

  .u-section-11 .u-line-3 {
    left: 1323px;
    margin-left: 615px;
  }

  .u-section-11 .u-line-4 {
    left: 509px;
    margin-left: 615px;
  }

  .u-section-11 .u-line-5 {
    margin-left: 615px;
  }

  .u-section-11 .u-image-2 {
    margin-left: 852px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
    margin-left: 651px;
  }

  .u-section-11 .u-btn-2 {
    margin-top: 1684px;
    margin-left: 213px;
  }

  .u-section-11 .u-btn-3 {
    margin-top: -8px;
    margin-left: 0;
  }

  .u-section-11 .u-btn-4 {
    margin-top: 96px;
    margin-left: 465px;
  }

  .u-section-11 .u-btn-5 {
    margin-top: -61px;
    margin-left: 213px;
  }

  .u-section-11 .u-text-2 {
    margin-top: -1704px;
    margin-right: 0;
    margin-left: 625px;
  }

  .u-section-11 .u-btn-7 {
    margin-top: 1725px;
    margin-left: 465px;
  }

  .u-section-11 .u-btn-8 {
    margin-top: -72px;
    margin-left: 213px;
  }

  .u-section-11 .u-btn-9 {
    margin-left: 213px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -1707px;
    margin-right: 0;
    margin-left: 651px;
  }

  .u-section-11 .u-btn-10 {
    margin-top: 1704px;
    margin-left: 213px;
  }

  .u-section-11 .u-btn-11 {
    margin-top: -25px;
    margin-left: 213px;
  }

  .u-section-11 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-11 .u-btn-13 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-11 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-11 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-11 .u-btn-16 {
    margin-top: 48px;
    margin-left: 213px;
  }

  .u-section-11 .u-btn-17 {
    margin-top: -5px;
    margin-left: 0;
  }

  .u-section-11 .u-btn-18 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-11 .u-image-3 {
    margin-top: -289px;
    margin-right: 490px;
  }

  .u-section-11 .u-image-4 {
    margin-right: 490px;
  }

  .u-section-11 .u-text-4 {
    margin-top: -1535px;
    margin-right: 477px;
  }

  .u-section-11 .u-text-5 {
    margin: 1652px 0 0 333px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-line-1 {
    margin-left: 435px;
  }

  .u-section-11 .u-line-2 {
    margin-left: 435px;
  }

  .u-section-11 .u-line-3 {
    left: 1143px;
    margin-left: 435px;
    margin-top: 615px;
  }

  .u-section-11 .u-line-4 {
    margin-left: 435px;
  }

  .u-section-11 .u-line-5 {
    margin-left: 435px;
  }

  .u-section-11 .u-image-2 {
    margin-left: 762px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 471px;
  }

  .u-section-11 .u-btn-2 {
    margin-left: 33px;
  }

  .u-section-11 .u-btn-4 {
    margin-left: 285px;
  }

  .u-section-11 .u-btn-5 {
    margin-left: 33px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 445px;
  }

  .u-section-11 .u-btn-7 {
    margin-left: 285px;
  }

  .u-section-11 .u-btn-8 {
    margin-left: 33px;
  }

  .u-section-11 .u-btn-9 {
    margin-left: 33px;
  }

  .u-section-11 .u-text-3 {
    margin-left: 471px;
  }

  .u-section-11 .u-btn-10 {
    margin-left: 33px;
  }

  .u-section-11 .u-btn-11 {
    margin-left: 33px;
  }

  .u-section-11 .u-btn-16 {
    margin-left: 33px;
  }

  .u-section-11 .u-image-3 {
    margin-right: 310px;
  }

  .u-section-11 .u-image-4 {
    margin-right: 310px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 297px;
  }

  .u-section-11 .u-text-5 {
    margin-left: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-line-1 {
    margin-left: 235px;
  }

  .u-section-11 .u-line-2 {
    margin-left: 235px;
  }

  .u-section-11 .u-line-3 {
    left: 943px;
    margin-left: 235px;
    margin-top: 435px;
  }

  .u-section-11 .u-line-4 {
    margin-left: 235px;
  }

  .u-section-11 .u-line-5 {
    margin-left: 235px;
  }

  .u-section-11 .u-image-2 {
    margin-left: 662px;
  }

  .u-section-11 .u-text-1 {
    margin-left: 271px;
  }

  .u-section-11 .u-btn-2 {
    margin-top: 1748px;
    margin-left: 0;
  }

  .u-section-11 .u-btn-4 {
    margin-left: 85px;
  }

  .u-section-11 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-11 .u-text-2 {
    margin-top: -1768px;
    margin-left: 245px;
  }

  .u-section-11 .u-btn-7 {
    margin-top: 1789px;
    margin-left: 85px;
  }

  .u-section-11 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-11 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-11 .u-text-3 {
    margin-top: -1771px;
    margin-left: 271px;
  }

  .u-section-11 .u-btn-10 {
    margin-top: 1768px;
    margin-left: 0;
  }

  .u-section-11 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-11 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-11 .u-image-3 {
    margin-right: 110px;
  }

  .u-section-11 .u-image-4 {
    margin-right: 110px;
  }

  .u-section-11 .u-text-4 {
    margin-top: -1599px;
    margin-right: 97px;
  }

  .u-section-11 .u-text-5 {
    margin-top: 1700px;
    margin-left: 0;
  }
}