.u-section-4-1 .u-sheet-1 {
  min-height: 644px;
}

.u-section-4-1 .u-image-1 {
  width: 857px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-4-1 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4-1 .u-image-1 {
    width: 720px;
    height: 439px;
  }
}

@media (max-width: 767px) {
  .u-section-4-1 .u-image-1 {
    width: 540px;
    height: 329px;
  }
}

@media (max-width: 575px) {
  .u-section-4-1 .u-image-1 {
    width: 340px;
    height: 207px;
  }
}.u-section-4-2 .u-sheet-1 {
  min-height: 644px;
}

.u-section-4-2 .u-image-1 {
  width: 853px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-4-2 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4-2 .u-image-1 {
    width: 720px;
    height: 441px;
  }
}

@media (max-width: 767px) {
  .u-section-4-2 .u-image-1 {
    width: 540px;
    height: 331px;
  }
}

@media (max-width: 575px) {
  .u-section-4-2 .u-image-1 {
    width: 340px;
    height: 208px;
  }
}.u-section-4-3 .u-sheet-1 {
  min-height: 644px;
}

.u-section-4-3 .u-image-1 {
  width: 893px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-4-3 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4-3 .u-image-1 {
    width: 720px;
    height: 422px;
  }
}

@media (max-width: 767px) {
  .u-section-4-3 .u-image-1 {
    width: 540px;
    height: 317px;
  }
}

@media (max-width: 575px) {
  .u-section-4-3 .u-image-1 {
    width: 340px;
    height: 200px;
  }
}.u-section-4-4 .u-sheet-1 {
  min-height: 644px;
}

.u-section-4-4 .u-image-1 {
  width: 736px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-4 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-4-4 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4-4 .u-image-1 {
    width: 720px;
    height: 512px;
  }
}

@media (max-width: 767px) {
  .u-section-4-4 .u-image-1 {
    width: 540px;
    height: 384px;
  }
}

@media (max-width: 575px) {
  .u-section-4-4 .u-image-1 {
    width: 340px;
    height: 242px;
  }
}.u-section-4-5 .u-sheet-1 {
  min-height: 644px;
}

.u-section-4-5 .u-image-1 {
  width: 860px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-5 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-4-5 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4-5 .u-image-1 {
    width: 720px;
    height: 438px;
  }
}

@media (max-width: 767px) {
  .u-section-4-5 .u-image-1 {
    width: 540px;
    height: 329px;
  }
}

@media (max-width: 575px) {
  .u-section-4-5 .u-image-1 {
    width: 340px;
    height: 207px;
  }
}.u-section-4-6 .u-sheet-1 {
  min-height: 644px;
}

.u-section-4-6 .u-image-1 {
  width: 869px;
  height: 505px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-6 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-4-6 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4-6 .u-image-1 {
    width: 720px;
    height: 418px;
  }
}

@media (max-width: 767px) {
  .u-section-4-6 .u-image-1 {
    width: 540px;
    height: 314px;
  }
}

@media (max-width: 575px) {
  .u-section-4-6 .u-image-1 {
    width: 340px;
    height: 198px;
  }
}.u-section-4-7 .u-sheet-1 {
  min-height: 644px;
}

.u-section-4-7 .u-image-1 {
  width: 865px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-7 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-4-7 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4-7 .u-image-1 {
    width: 720px;
    height: 435px;
  }
}

@media (max-width: 767px) {
  .u-section-4-7 .u-image-1 {
    width: 540px;
    height: 326px;
  }
}

@media (max-width: 575px) {
  .u-section-4-7 .u-image-1 {
    width: 340px;
    height: 205px;
  }
}.u-section-4-8 .u-sheet-1 {
  min-height: 644px;
}

.u-section-4-8 .u-image-1 {
  width: 739px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-8 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-4-8 .u-sheet-1 {
    min-height: 655px;
  }

  .u-section-4-8 .u-image-1 {
    width: 720px;
    height: 510px;
  }
}

@media (max-width: 767px) {
  .u-section-4-8 .u-image-1 {
    width: 540px;
    height: 383px;
  }
}

@media (max-width: 575px) {
  .u-section-4-8 .u-image-1 {
    width: 340px;
    height: 241px;
  }
}.u-section-4-9 .u-sheet-1 {
  min-height: 644px;
}

.u-section-4-9 .u-image-1 {
  width: 697px;
  height: 523px;
  margin: 32px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4-9 .u-sheet-1 {
    min-height: 765px;
  }
}

@media (max-width: 991px) {
  .u-section-4-9 .u-sheet-1 {
    min-height: 655px;
  }
}

@media (max-width: 767px) {
  .u-section-4-9 .u-image-1 {
    width: 540px;
    height: 405px;
  }
}

@media (max-width: 575px) {
  .u-section-4-9 .u-image-1 {
    width: 340px;
    height: 255px;
  }
}.u-section-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/Group1193.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-text-1 {
  font-family: "Yeseva One";
  font-weight: normal;
  text-shadow: 0 3px 10px rgba(0,0,0,0.9);
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0);
  font-size: 4.375rem;
  margin: 355px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  border-style: solid;
  font-weight: 700;
  font-family: Aldrich;
  letter-spacing: 3px;
  margin: 49px auto 60px;
  padding: 13px 30px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 511px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 252px;
    margin-left: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 391px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 145px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 91px;
    margin-left: 217px;
    font-size: 3rem;
  }
}.u-section-2 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/Rectangle1285.png");
}

.u-section-2 .u-sheet-1 {
  min-height: 227px;
}

.u-section-2 .u-text-1 {
  font-family: "Josefin Sans";
  font-size: 1.25rem;
  font-weight: 100;
  margin: 44px -50px 0 603px;
}

.u-section-2 .u-line-1 {
  height: 117px;
  transform-origin: center bottom 0;
  width: 2px;
  margin: -117px auto 0 508px;
}

.u-section-2 .u-text-2 {
  background-image: none;
  font-family: "Yeseva One";
  font-size: 1.875rem;
  line-height: 1.3;
  margin: -97px 661px 60px 26px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 170px;
  }

  .u-section-2 .u-text-1 {
    width: 391px;
    margin-top: 92px;
    margin-right: 35px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -197px;
  }

  .u-section-2 .u-text-2 {
    margin-bottom: 0;
    margin-left: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-top: 1418px;
    margin-right: 27px;
  }

  .u-section-2 .u-line-1 {
    margin-top: -1523px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 83px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 20px;
    margin-left: 513px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 507px;
    margin-left: 62px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 13px;
    margin-left: 413px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 338px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 307px;
    margin-left: 39px;
  }
}.u-section-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-sheet-1 {
  min-height: 396px;
}

.u-section-3 .u-text-1 {
  font-family: "Yeseva One";
  font-size: 2.8125rem;
  line-height: 1.3;
  letter-spacing: 0px;
  background-image: none;
  margin: 100px auto 0;
}

.u-section-3 .u-text-2 {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 1.375rem;
  margin: 22px 83px 53px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 414px;
    margin-left: 299px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 39px;
    margin-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 229px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 172px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-left: 108px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 23px;
  }
}.u-block-8924-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-block-8924-2 {
  position: absolute;
  width: 36px;
  height: 3px;
  top: auto;
  bottom: 57px;
}

.u-block-8924-5 {
  position: absolute;
  left: calc(((100% - 1140px) / 2)  + -60px);
  width: 45px;
  height: 45px;
  top: 255px;
  right: auto;
}

.u-block-8924-4 {
  position: absolute;
  width: 45px;
  height: 45px;
  left: auto;
  top: 255px;
  right: calc(((100% - 1140px) / 2)  + -57px);
}

@media (max-width: 1199px) {
  .u-block-8924-5 {
    left: calc(((100% - 940px) / 2)  + -160px);
  }

  .u-block-8924-4 {
    right: calc(((100% - 940px) / 2)  + -157px);
  }
}

@media (max-width: 991px) {
  .u-block-8924-5 {
    left: calc(((100% - 720px) / 2)  + -270px);
  }

  .u-block-8924-4 {
    right: calc(((100% - 720px) / 2)  + -267px);
  }
}

@media (max-width: 767px) {
  .u-block-8924-5 {
    left: calc(((100% - 540px) / 2)  + -360px);
  }

  .u-block-8924-4 {
    right: calc(((100% - 540px) / 2)  + -357px);
  }
}

@media (max-width: 575px) {
  .u-block-8924-5 {
    left: calc(((100% - 340px) / 2)  + -460px);
  }

  .u-block-8924-4 {
    right: calc(((100% - 340px) / 2)  + -457px);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 154px;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.75rem;
  font-family: Aldrich;
  letter-spacing: 3px;
  margin: 20px auto 0 236px;
  padding: 13px 45px 14px;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: solid;
  font-size: 0.75rem;
  font-family: Aldrich;
  letter-spacing: 3px;
  margin: -50px 227px 60px auto;
  padding: 13px 58px 14px 57px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-btn-1 {
    margin-left: 36px;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 27px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 222px;
}

.u-section-6 .u-text-1 {
  font-family: "Yeseva One";
  font-size: 2.1875rem;
  line-height: 1.3;
  margin: 66px 422px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.75rem;
  font-family: Aldrich;
  letter-spacing: 3px;
  margin: -70px 52px 60px auto;
  padding: 13px 45px 14px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-left: 13px;
    margin-right: 839px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: -235px;
    margin-right: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 632px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 150px;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 452px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 360px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-right: 252px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 465px;
  }
}.u-section-7 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-7 .u-sheet-1 {
  min-height: 396px;
}

.u-section-7 .u-text-1 {
  font-family: "Yeseva One";
  font-size: 2.8125rem;
  line-height: 1.3;
  letter-spacing: 0px;
  background-image: none;
  margin: 100px auto 0;
}

.u-section-7 .u-text-2 {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 1.375rem;
  margin: 22px 83px 53px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-text-1 {
    width: 414px;
    margin-left: 299px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 39px;
    margin-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-text-1 {
    margin-left: 229px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-text-1 {
    margin-left: 172px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-text-1 {
    margin-left: 108px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 23px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1215px;
}

.u-section-8 .u-image-1 {
  width: 351px;
  height: 380px;
  margin: 45px auto 0 30px;
}

.u-section-8 .u-image-2 {
  width: 331px;
  height: 240px;
  margin: -380px auto 0 40px;
}

.u-section-8 .u-text-1 {
  font-size: 1.9375rem;
  font-family: "Yeseva One";
  margin: 30px 905px 0 60px;
}

.u-section-8 .u-image-3 {
  width: 351px;
  height: 380px;
  margin: -319px 30px 0 auto;
}

.u-section-8 .u-image-4 {
  width: 351px;
  height: 380px;
  margin: -380px auto 0;
}

.u-section-8 .u-image-5 {
  width: 331px;
  height: 240px;
  margin: -380px auto 0;
}

.u-section-8 .u-image-6 {
  width: 331px;
  height: 240px;
  margin: -240px auto 0 769px;
}

.u-section-8 .u-text-2 {
  font-size: 1.9375rem;
  font-family: "Yeseva One";
  margin: 30px 451px 0 441px;
}

.u-section-8 .u-text-3 {
  font-size: 1.9375rem;
  font-family: "Yeseva One";
  margin: -98px 143px 0 806px;
}

.u-section-8 .u-image-7 {
  width: 351px;
  height: 380px;
  margin: 162px auto 0 30px;
}

.u-section-8 .u-image-8 {
  width: 351px;
  height: 380px;
  margin: -380px auto 0;
}

.u-section-8 .u-image-9 {
  width: 351px;
  height: 380px;
  margin: -380px auto 0 769px;
}

.u-section-8 .u-image-10 {
  width: 331px;
  height: 240px;
  margin: -372px auto 0 40px;
}

.u-section-8 .u-image-11 {
  width: 331px;
  height: 240px;
  margin: -240px auto 0;
}

.u-section-8 .u-image-12 {
  width: 331px;
  height: 240px;
  margin: -240px 30px 0 auto;
}

.u-section-8 .u-text-4 {
  font-size: 1.9375rem;
  font-family: "Yeseva One";
  margin: 30px 826px 0 60px;
}

.u-section-8 .u-text-5 {
  font-size: 1.9375rem;
  font-family: "Yeseva One";
  margin: -49px 514px 0 441px;
}

.u-section-8 .u-text-6 {
  font-size: 1.9375rem;
  font-family: "Yeseva One";
  margin: -49px 154px 0 806px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.75rem;
  font-family: Aldrich;
  letter-spacing: 3px;
  margin: 113px auto 60px;
  padding: 13px 45px 14px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 765px;
    margin-left: 49px;
  }

  .u-section-8 .u-image-6 {
    margin-left: 609px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 351px;
    margin-left: 364px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 43px;
    margin-left: 664px;
  }

  .u-section-8 .u-image-9 {
    margin-left: 589px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 686px;
    margin-left: 49px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 414px;
    margin-left: 364px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 54px;
    margin-bottom: 60px;
    margin-left: 664px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-text-1 {
    margin-right: 545px;
    margin-left: 38px;
  }

  .u-section-8 .u-image-6 {
    margin-left: 389px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 241px;
    margin-left: 279px;
  }

  .u-section-8 .u-text-3 {
    margin-right: 0;
    margin-left: 509px;
  }

  .u-section-8 .u-image-9 {
    margin-left: 369px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 466px;
    margin-left: 38px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 304px;
    margin-left: 279px;
  }

  .u-section-8 .u-text-6 {
    margin-right: 0;
    margin-left: 509px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-text-1 {
    margin-right: 365px;
    margin-left: 29px;
  }

  .u-section-8 .u-image-6 {
    margin-left: 209px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 151px;
    margin-left: 209px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 382px;
  }

  .u-section-8 .u-image-9 {
    margin-left: 189px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 286px;
    margin-left: 29px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 214px;
    margin-left: 209px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 382px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 368px;
    margin-left: 0;
  }

  .u-section-8 .u-image-2 {
    margin-top: -368px;
    margin-left: 9px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 165px;
    margin-left: 18px;
  }

  .u-section-8 .u-image-3 {
    width: 340px;
    height: 368px;
    margin-right: 0;
  }

  .u-section-8 .u-image-4 {
    width: 340px;
    height: 368px;
    margin-top: -368px;
  }

  .u-section-8 .u-image-5 {
    margin-top: -368px;
  }

  .u-section-8 .u-image-6 {
    margin-left: 9px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 51px;
    margin-left: 9px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 241px;
  }

  .u-section-8 .u-image-7 {
    width: 340px;
    height: 368px;
    margin-left: 0;
  }

  .u-section-8 .u-image-8 {
    width: 340px;
    height: 368px;
    margin-top: -368px;
  }

  .u-section-8 .u-image-9 {
    width: 340px;
    height: 368px;
    margin-top: -368px;
    margin-left: 0;
  }

  .u-section-8 .u-image-10 {
    margin-top: -360px;
    margin-left: 9px;
  }

  .u-section-8 .u-image-12 {
    margin-right: 9px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 86px;
    margin-left: 18px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 114px;
    margin-left: 132px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 241px;
  }
}.u-section-9 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 396px;
}

.u-section-9 .u-text-1 {
  font-family: "Yeseva One";
  font-size: 2.8125rem;
  line-height: 1.3;
  letter-spacing: 0px;
  background-image: none;
  margin: 100px auto 0;
}

.u-section-9 .u-text-2 {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 1.375rem;
  margin: 22px 83px 53px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    width: 414px;
    margin-left: 299px;
  }

  .u-section-9 .u-text-2 {
    margin-right: 39px;
    margin-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-text-1 {
    margin-left: 229px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-text-1 {
    margin-left: 172px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-left: 108px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 23px;
  }
}.u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 683px;
}

.u-section-10 .u-image-1 {
  width: 351px;
  height: 380px;
  margin: 45px auto 0 30px;
}

.u-section-10 .u-image-2 {
  width: 331px;
  height: 240px;
  margin: -380px auto 0 40px;
}

.u-section-10 .u-text-1 {
  font-size: 1.9375rem;
  font-family: "Yeseva One";
  margin: 30px 891px 0 60px;
}

.u-section-10 .u-image-3 {
  width: 351px;
  height: 380px;
  margin: -319px 30px 0 auto;
}

.u-section-10 .u-image-4 {
  width: 351px;
  height: 380px;
  margin: -380px auto 0;
}

.u-section-10 .u-image-5 {
  width: 331px;
  height: 240px;
  margin: -380px auto 0;
}

.u-section-10 .u-image-6 {
  width: 331px;
  height: 240px;
  margin: -240px auto 0 769px;
}

.u-section-10 .u-text-2 {
  font-size: 1.9375rem;
  font-family: "Yeseva One";
  margin: 30px 431px 0 441px;
}

.u-section-10 .u-text-3 {
  font-size: 1.9375rem;
  font-family: "Yeseva One";
  margin: -49px 131px 0 805px;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  border-style: solid;
  font-size: 0.75rem;
  font-family: Aldrich;
  letter-spacing: 3px;
  margin: 121px auto 60px;
  padding: 13px 45px 14px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-text-1 {
    margin-right: 751px;
    margin-left: 49px;
  }

  .u-section-10 .u-image-6 {
    margin-left: 609px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 355px;
    margin-left: 341px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 108px;
    margin-left: 705px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-text-1 {
    margin-right: 531px;
    margin-left: 38px;
  }

  .u-section-10 .u-image-6 {
    margin-left: 389px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 272px;
    margin-left: 231px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 83px;
    margin-left: 516px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-text-1 {
    margin-right: 351px;
    margin-left: 29px;
  }

  .u-section-10 .u-image-6 {
    margin-left: 209px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 204px;
    margin-left: 141px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 62px;
    margin-left: 336px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 1143px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 368px;
    margin-left: 0;
  }

  .u-section-10 .u-image-2 {
    margin-top: -368px;
    margin-left: 9px;
  }

  .u-section-10 .u-text-1 {
    margin-right: 151px;
    margin-left: 18px;
  }

  .u-section-10 .u-image-3 {
    width: 340px;
    height: 368px;
    margin-right: 0;
  }

  .u-section-10 .u-image-4 {
    width: 340px;
    height: 368px;
    margin-top: -368px;
  }

  .u-section-10 .u-image-5 {
    margin-top: -368px;
  }

  .u-section-10 .u-image-6 {
    margin-left: 9px;
  }

  .u-section-10 .u-text-2 {
    margin-right: 128px;
    margin-left: 41px;
  }

  .u-section-10 .u-text-3 {
    margin-right: 39px;
    margin-left: 136px;
  }
}.u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 288px;
}

.u-section-11 .u-image-1 {
  width: 81px;
  height: 81px;
  margin: 70px auto 0 180px;
}

.u-section-11 .u-image-2 {
  width: 115px;
  height: 73px;
  margin: -81px auto 0 410px;
}

.u-section-11 .u-image-3 {
  width: 86px;
  height: 85px;
  margin: -73px 394px 0 637px;
}

.u-section-11 .u-image-4 {
  width: 90px;
  height: 84px;
  margin: -90px 192px 0 871px;
}

.u-section-11 .u-text-1 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: 700;
  margin: 17px 123px 0 815px;
}

.u-section-11 .u-text-2 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: 700;
  margin: -38px 400px 0 619px;
}

.u-section-11 .u-text-3 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: 700;
  margin: -38px 610px 0 398px;
}

.u-section-11 .u-text-4 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: 700;
  margin: -57px 830px 74px 142px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-image-3 {
    margin-right: 306px;
    margin-left: 549px;
  }

  .u-section-11 .u-image-4 {
    margin-right: 86px;
    margin-left: 765px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 101px;
    margin-left: 688px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 519px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 510px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 730px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-image-3 {
    margin-right: 196px;
    margin-left: 439px;
  }

  .u-section-11 .u-image-4 {
    margin-right: 0;
    margin-left: 630px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 77px;
    margin-left: 527px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 409px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 400px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 552px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-image-3 {
    margin-right: 106px;
    margin-left: 349px;
  }

  .u-section-11 .u-image-4 {
    margin-left: 450px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 58px;
    margin-left: 395px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 319px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 310px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 372px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-image-2 {
    margin-left: 225px;
  }

  .u-section-11 .u-image-3 {
    margin-right: 6px;
    margin-left: 249px;
  }

  .u-section-11 .u-image-4 {
    margin-left: 250px;
  }

  .u-section-11 .u-text-1 {
    margin-right: 37px;
    margin-left: 249px;
  }

  .u-section-11 .u-text-2 {
    margin-right: 252px;
    margin-left: 219px;
  }

  .u-section-11 .u-text-3 {
    margin-right: 208px;
    margin-left: 251px;
  }

  .u-section-11 .u-text-4 {
    margin-right: 172px;
  }
}.u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 405px;
}

.u-section-12 .u-line-1 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: auto;
  top: 97px;
  right: 150px;
  margin-left: 885px;
}

.u-section-12 .u-line-2 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: auto;
  top: 168px;
  right: 150px;
  margin-left: 885px;
}

.u-section-12 .u-line-3 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: 1356px;
  top: 112px;
  right: 357px;
  margin-left: 678px;
}

.u-section-12 .u-line-4 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: auto;
  top: 134px;
  right: 150px;
  margin-left: 885px;
}

.u-section-12 .u-line-5 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  top: 205px;
  left: auto;
  right: 150px;
  margin-left: 885px;
}

.u-section-12 .u-line-6 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  top: 236px;
  left: auto;
  right: 150px;
}

.u-section-12 .u-image-1 {
  width: 16px;
  height: 29px;
  margin: 61px 13px 0 auto;
}

.u-section-12 .u-image-2 {
  width: 28px;
  height: 28px;
  margin: -28px 56px 0 auto;
}

.u-section-12 .u-text-1 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 700;
  margin: -22px 186px 0 885px;
}

.u-section-12 .u-btn-1 {
  padding: 0;
}

.u-section-12 .u-btn-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -25px auto 0 633px;
  padding: 0;
}

.u-section-12 .u-btn-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -22px auto 0 404px;
  padding: 0;
}

.u-section-12 .u-btn-4 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 14px auto 0 885px;
  padding: 0;
}

.u-section-12 .u-btn-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -27px auto 0 633px;
  padding: 0;
}

.u-section-12 .u-text-2 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 160px 0 885px;
}

.u-section-12 .u-btn-6 {
  padding: 0;
}

.u-section-12 .u-btn-7 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -10px auto 0 885px;
  padding: 0;
}

.u-section-12 .u-btn-8 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -66px auto 0 633px;
  padding: 0;
}

.u-section-12 .u-btn-9 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 633px;
  padding: 0;
}

.u-section-12 .u-text-3 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 700;
  margin: 24px 122px 0 885px;
}

.u-section-12 .u-btn-10 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -36px auto 0 633px;
  padding: 0;
}

.u-section-12 .u-btn-11 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 633px;
  padding: 0;
}

.u-section-12 .u-btn-12 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: -149px auto 0 404px;
  padding: 0;
}

.u-section-12 .u-btn-13 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-12 .u-btn-14 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-12 .u-btn-15 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-12 .u-btn-16 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 31px auto 0 633px;
  padding: 0;
}

.u-section-12 .u-btn-17 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -43px auto 0 404px;
  padding: 0;
}

.u-section-12 .u-btn-18 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-12 .u-image-3 {
  width: 230px;
  height: 59px;
  margin: -227px 838px 0 auto;
}

.u-section-12 .u-image-4 {
  width: 160px;
  height: 60px;
  margin: 18px 838px 0 auto;
}

.u-section-12 .u-image-5 {
  width: 60px;
  height: 42px;
  margin: -51px auto 0 72px;
}

.u-section-12 .u-text-4 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: normal;
  margin: 18px 897px 0 72px;
}

.u-section-12 .u-text-5 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.625rem;
  margin: 99px 120px 10px 633px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-line-1 {
    margin-top: 0;
    margin-left: 835px;
  }

  .u-section-12 .u-line-2 {
    margin-top: 0;
    margin-left: 835px;
  }

  .u-section-12 .u-line-3 {
    margin-top: 678px;
  }

  .u-section-12 .u-line-4 {
    margin-top: 0;
    margin-left: 835px;
  }

  .u-section-12 .u-line-5 {
    height: 1px;
    margin-left: 835px;
  }

  .u-section-12 .u-line-6 {
    height: 1px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 86px;
    margin-left: 785px;
  }

  .u-section-12 .u-btn-2 {
    margin-top: -14px;
    margin-left: 433px;
  }

  .u-section-12 .u-btn-3 {
    margin-top: -79px;
    margin-left: 204px;
  }

  .u-section-12 .u-btn-4 {
    margin-top: 62px;
    margin-left: 685px;
  }

  .u-section-12 .u-btn-5 {
    margin-left: 433px;
  }

  .u-section-12 .u-text-2 {
    margin-right: 60px;
    margin-left: 785px;
  }

  .u-section-12 .u-btn-7 {
    margin-left: 685px;
  }

  .u-section-12 .u-btn-8 {
    margin-top: -61px;
    margin-left: 433px;
  }

  .u-section-12 .u-btn-9 {
    margin-top: -32px;
    margin-left: 433px;
  }

  .u-section-12 .u-text-3 {
    margin-top: -11px;
    margin-right: 22px;
    margin-left: 785px;
  }

  .u-section-12 .u-btn-10 {
    margin-left: 433px;
  }

  .u-section-12 .u-btn-11 {
    margin-top: 63px;
    margin-left: 433px;
  }

  .u-section-12 .u-btn-12 {
    margin-top: -151px;
    margin-left: 204px;
  }

  .u-section-12 .u-btn-13 {
    margin-top: 7px;
    margin-left: 204px;
  }

  .u-section-12 .u-btn-14 {
    margin-top: 1px;
    margin-left: 204px;
  }

  .u-section-12 .u-btn-15 {
    margin-top: 13px;
    margin-left: 204px;
  }

  .u-section-12 .u-btn-16 {
    margin-top: 70px;
    margin-left: 433px;
  }

  .u-section-12 .u-btn-17 {
    margin-top: -27px;
    margin-left: 204px;
  }

  .u-section-12 .u-btn-18 {
    margin-top: -88px;
    margin-left: 204px;
  }

  .u-section-12 .u-image-3 {
    margin-top: -234px;
    margin-right: 710px;
  }

  .u-section-12 .u-image-4 {
    margin-top: 22px;
    margin-right: 710px;
  }

  .u-section-12 .u-image-5 {
    margin-top: -81px;
  }

  .u-section-12 .u-text-4 {
    margin-top: 183px;
    margin-right: 697px;
  }

  .u-section-12 .u-text-5 {
    margin-right: 20px;
    margin-left: 533px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-line-1 {
    left: 509px;
    margin-left: 615px;
  }

  .u-section-12 .u-line-2 {
    left: 509px;
    margin-left: 615px;
  }

  .u-section-12 .u-line-3 {
    left: 1323px;
    margin-left: 615px;
  }

  .u-section-12 .u-line-4 {
    left: 509px;
    margin-left: 615px;
  }

  .u-section-12 .u-line-5 {
    margin-left: 615px;
  }

  .u-section-12 .u-image-2 {
    margin-left: 852px;
  }

  .u-section-12 .u-text-1 {
    margin-right: 0;
    margin-left: 651px;
  }

  .u-section-12 .u-btn-2 {
    margin-top: 1684px;
    margin-left: 213px;
  }

  .u-section-12 .u-btn-3 {
    margin-top: -8px;
    margin-left: 0;
  }

  .u-section-12 .u-btn-4 {
    margin-top: 96px;
    margin-left: 465px;
  }

  .u-section-12 .u-btn-5 {
    margin-top: -61px;
    margin-left: 213px;
  }

  .u-section-12 .u-text-2 {
    margin-top: -1704px;
    margin-right: 0;
    margin-left: 625px;
  }

  .u-section-12 .u-btn-7 {
    margin-top: 1725px;
    margin-left: 465px;
  }

  .u-section-12 .u-btn-8 {
    margin-top: -72px;
    margin-left: 213px;
  }

  .u-section-12 .u-btn-9 {
    margin-left: 213px;
  }

  .u-section-12 .u-text-3 {
    margin-top: -1707px;
    margin-right: 0;
    margin-left: 651px;
  }

  .u-section-12 .u-btn-10 {
    margin-top: 1704px;
    margin-left: 213px;
  }

  .u-section-12 .u-btn-11 {
    margin-top: -25px;
    margin-left: 213px;
  }

  .u-section-12 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-12 .u-btn-13 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-12 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-12 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-12 .u-btn-16 {
    margin-top: 48px;
    margin-left: 213px;
  }

  .u-section-12 .u-btn-17 {
    margin-top: -5px;
    margin-left: 0;
  }

  .u-section-12 .u-btn-18 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-12 .u-image-3 {
    margin-top: -289px;
    margin-right: 490px;
  }

  .u-section-12 .u-image-4 {
    margin-right: 490px;
  }

  .u-section-12 .u-text-4 {
    margin-top: -1535px;
    margin-right: 477px;
  }

  .u-section-12 .u-text-5 {
    margin: 1652px 0 0 333px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-line-1 {
    margin-left: 435px;
  }

  .u-section-12 .u-line-2 {
    margin-left: 435px;
  }

  .u-section-12 .u-line-3 {
    left: 1143px;
    margin-left: 435px;
    margin-top: 615px;
  }

  .u-section-12 .u-line-4 {
    margin-left: 435px;
  }

  .u-section-12 .u-line-5 {
    margin-left: 435px;
  }

  .u-section-12 .u-image-2 {
    margin-left: 762px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 471px;
  }

  .u-section-12 .u-btn-2 {
    margin-left: 33px;
  }

  .u-section-12 .u-btn-4 {
    margin-left: 285px;
  }

  .u-section-12 .u-btn-5 {
    margin-left: 33px;
  }

  .u-section-12 .u-text-2 {
    margin-left: 445px;
  }

  .u-section-12 .u-btn-7 {
    margin-left: 285px;
  }

  .u-section-12 .u-btn-8 {
    margin-left: 33px;
  }

  .u-section-12 .u-btn-9 {
    margin-left: 33px;
  }

  .u-section-12 .u-text-3 {
    margin-left: 471px;
  }

  .u-section-12 .u-btn-10 {
    margin-left: 33px;
  }

  .u-section-12 .u-btn-11 {
    margin-left: 33px;
  }

  .u-section-12 .u-btn-16 {
    margin-left: 33px;
  }

  .u-section-12 .u-image-3 {
    margin-right: 310px;
  }

  .u-section-12 .u-image-4 {
    margin-right: 310px;
  }

  .u-section-12 .u-text-4 {
    margin-right: 297px;
  }

  .u-section-12 .u-text-5 {
    margin-left: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-line-1 {
    margin-left: 235px;
  }

  .u-section-12 .u-line-2 {
    margin-left: 235px;
  }

  .u-section-12 .u-line-3 {
    left: 943px;
    margin-left: 235px;
    margin-top: 435px;
  }

  .u-section-12 .u-line-4 {
    margin-left: 235px;
  }

  .u-section-12 .u-line-5 {
    margin-left: 235px;
  }

  .u-section-12 .u-image-2 {
    margin-left: 662px;
  }

  .u-section-12 .u-text-1 {
    margin-left: 271px;
  }

  .u-section-12 .u-btn-2 {
    margin-top: 1748px;
    margin-left: 0;
  }

  .u-section-12 .u-btn-4 {
    margin-left: 85px;
  }

  .u-section-12 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-12 .u-text-2 {
    margin-top: -1768px;
    margin-left: 245px;
  }

  .u-section-12 .u-btn-7 {
    margin-top: 1789px;
    margin-left: 85px;
  }

  .u-section-12 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-12 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-12 .u-text-3 {
    margin-top: -1771px;
    margin-left: 271px;
  }

  .u-section-12 .u-btn-10 {
    margin-top: 1768px;
    margin-left: 0;
  }

  .u-section-12 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-12 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-12 .u-image-3 {
    margin-right: 110px;
  }

  .u-section-12 .u-image-4 {
    margin-right: 110px;
  }

  .u-section-12 .u-text-4 {
    margin-top: -1599px;
    margin-right: 97px;
  }

  .u-section-12 .u-text-5 {
    margin-top: 1700px;
    margin-left: 0;
  }
}