.u-section-1 {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("images/Group685.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-text-1 {
  font-family: "Yeseva One";
  font-weight: normal;
  text-shadow: 0 3px 10px rgba(0,0,0,0.9);
  box-shadow: 0 3px 10px 0 rgba(0,0,0,0);
  font-size: 4.375rem;
  margin: 355px auto 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 0.75rem;
  border-style: solid;
  font-weight: 700;
  font-family: Aldrich;
  letter-spacing: 3px;
  margin: 49px auto 60px;
  padding: 13px 30px 14px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 511px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 1050px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 252px;
    margin-left: 344px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 391px;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 930px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 193px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 145px;
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    margin-right: 91px;
    margin-left: 217px;
    font-size: 3rem;
  }
}.u-section-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-sheet-1 {
  min-height: 361px;
}

.u-section-2 .u-text-1 {
  font-family: "Yeseva One";
  font-size: 2.8125rem;
  line-height: 1.3;
  letter-spacing: 0px;
  background-image: none;
  margin: 100px auto 0;
}

.u-section-2 .u-text-2 {
  font-family: "Josefin Sans";
  font-weight: 300;
  font-size: 1.375rem;
  margin: 22px 39px 18px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 414px;
    margin-left: 299px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 64px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 229px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 49px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 172px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 37px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-left: 108px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 23px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 92px;
}

.u-section-3 .u-text-1 {
  letter-spacing: 1.1px;
  margin: 20px 1061px 0 0;
}

.u-section-3 .u-line-1 {
  width: 1150px;
  margin: 11px -5px 28px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 861px;
  }

  .u-section-3 .u-line-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 641px;
  }

  .u-section-3 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-right: 461px;
  }

  .u-section-3 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 261px;
  }

  .u-section-3 .u-line-1 {
    width: 340px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1704px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  margin: 45px 757px 0 42px;
}

.u-section-4 .u-text-2 {
  font-family: "Yeseva One";
  font-size: 2.1875rem;
  margin: 39px 764px 0 229px;
}

.u-section-4 .u-text-3 {
  font-family: "Yeseva One";
  font-size: 2.1875rem;
  margin: -55px 232px 0 766px;
}

.u-section-4 .u-image-1 {
  width: 445px;
  height: 242px;
  margin: 0 auto 0 80px;
}

.u-section-4 .u-image-2 {
  width: 445px;
  height: 242px;
  margin: -242px 80px 0 auto;
}

.u-section-4 .u-icon-1 {
  height: 31px;
  width: 43px;
  margin: 3px auto 0 91px;
}

.u-section-4 .u-icon-2 {
  height: 42px;
  width: 42px;
  margin: -31px auto 0 330px;
}

.u-section-4 .u-icon-3 {
  height: 30px;
  width: 30px;
  margin: -42px auto 0 174px;
}

.u-section-4 .u-icon-4 {
  height: 41px;
  width: 46px;
  margin: -30px auto 0 244px;
}

.u-section-4 .u-icon-5 {
  height: 24px;
  width: 46px;
  margin: -41px auto 0 413px;
}

.u-section-4 .u-text-4 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: 16px 994px 0 80px;
}

.u-section-4 .u-text-5 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -32px 919px 0 157px;
}

.u-section-4 .u-text-6 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -31px 842px 0 237px;
}

.u-section-4 .u-text-7 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -31px 745px 0 307px;
}

.u-section-4 .u-text-8 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -64px 662px 0 395px;
}

.u-section-4 .u-icon-6 {
  height: 23px;
  width: 46px;
  margin: -76px 474px 0 auto;
}

.u-section-4 .u-text-9 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: 19px 471px 0 617px;
}

.u-section-4 .u-icon-7 {
  height: 30px;
  width: 30px;
  margin: -74px 403px 0 auto;
}

.u-section-4 .u-icon-8 {
  height: 41px;
  width: 46px;
  margin: -28px 316px 0 auto;
}

.u-section-4 .u-icon-9 {
  height: 42px;
  width: 42px;
  margin: -41px 234px 0 auto;
}

.u-section-4 .u-icon-10 {
  height: 24px;
  width: 46px;
  margin: -44px 147px 0 auto;
}

.u-section-4 .u-text-10 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: 18px 386px 0 690px;
}

.u-section-4 .u-text-11 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -31px 309px 0 770px;
}

.u-section-4 .u-text-12 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -31px 211px 0 842px;
}

.u-section-4 .u-text-13 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -64px 129px 0 929px;
}

.u-section-4 .u-text-14 {
  font-size: 0.625rem;
  margin: 43px 120px 0 936px;
}

.u-section-4 .u-btn-1 {
  padding: 0;
}

.u-section-4 .u-text-15 {
  font-size: 0.625rem;
  margin: -16px 661px 0 395px;
}

.u-section-4 .u-btn-2 {
  padding: 0;
}

.u-section-4 .u-text-16 {
  font-family: "Yeseva One";
  font-size: 2.1875rem;
  margin: 51px 783px 0 248px;
}

.u-section-4 .u-text-17 {
  font-family: "Yeseva One";
  font-size: 2.1875rem;
  margin: -56px 157px 0 692px;
}

.u-section-4 .u-image-3 {
  width: 445px;
  height: 242px;
  margin: -11px auto 0 80px;
}

.u-section-4 .u-image-4 {
  width: 445px;
  height: 242px;
  margin: -242px 81px 0 auto;
}

.u-section-4 .u-icon-11 {
  height: 27px;
  width: 46px;
  margin: 20px auto 0 131px;
}

.u-section-4 .u-icon-12 {
  height: 30px;
  width: 30px;
  margin: -27px auto 0 218px;
}

.u-section-4 .u-icon-13 {
  height: 42px;
  width: 42px;
  margin: -30px 807px 0 auto;
}

.u-section-4 .u-icon-14 {
  height: 24px;
  width: 46px;
  margin: -43px auto 0 378px;
}

.u-section-4 .u-icon-15 {
  height: 23px;
  width: 46px;
  margin: -23px auto 0 627px;
}

.u-section-4 .u-icon-16 {
  height: 30px;
  width: 30px;
  margin: -23px 396px 0 auto;
}

.u-section-4 .u-icon-17 {
  height: 41px;
  width: 46px;
  margin: -30px 309px 0 auto;
}

.u-section-4 .u-icon-18 {
  height: 42px;
  width: 42px;
  margin: -41px 225px 0 auto;
}

.u-section-4 .u-icon-19 {
  height: 24px;
  width: 46px;
  margin: -42px 138px 0 auto;
}

.u-section-4 .u-text-18 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: 20px 944px 0 112px;
}

.u-section-4 .u-text-19 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -32px 875px 0 201px;
}

.u-section-4 .u-text-20 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -32px 784px 0 268px;
}

.u-section-4 .u-text-21 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -64px 698px 0 359px;
}

.u-section-4 .u-text-22 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -32px 464px 0 624px;
}

.u-section-4 .u-text-23 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -32px 379px 0 697px;
}

.u-section-4 .u-text-24 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -32px 302px 0 778px;
}

.u-section-4 .u-text-25 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -32px 203px 0 851px;
}

.u-section-4 .u-text-26 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -64px 120px 0 937px;
}

.u-section-4 .u-text-27 {
  font-size: 0.625rem;
  margin: 43px 698px 0 358px;
}

.u-section-4 .u-btn-3 {
  padding: 0;
}

.u-section-4 .u-text-28 {
  font-size: 0.625rem;
  margin: -16px 119px 0 937px;
}

.u-section-4 .u-btn-4 {
  padding: 0;
}

.u-section-4 .u-text-29 {
  font-family: "Yeseva One";
  font-size: 2.1875rem;
  margin: 51px 782px 0 248px;
}

.u-section-4 .u-image-5 {
  width: 445px;
  height: 242px;
  margin: 5px auto 0 80px;
}

.u-section-4 .u-icon-20 {
  height: 23px;
  width: 46px;
  margin: 37px auto 0 112px;
}

.u-section-4 .u-icon-21 {
  height: 30px;
  width: 30px;
  margin: -23px auto 0 199px;
}

.u-section-4 .u-icon-22 {
  height: 41px;
  width: 46px;
  margin: -30px auto 0 270px;
}

.u-section-4 .u-icon-23 {
  height: 42px;
  width: 42px;
  margin: -41px auto 0 358px;
}

.u-section-4 .u-icon-24 {
  height: 24px;
  width: 46px;
  margin: -42px auto 0 442px;
}

.u-section-4 .u-text-30 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: 20px 718px 0 336px;
}

.u-section-4 .u-text-31 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -64px 979px 0 109px;
}

.u-section-4 .u-text-32 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -32px 894px 0 182px;
}

.u-section-4 .u-text-33 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -32px 817px 0 263px;
}

.u-section-4 .u-text-34 {
  font-family: "Yeseva One";
  font-size: 0.625rem;
  text-transform: uppercase;
  margin: -33px 633px 0 423px;
}

.u-section-4 .u-text-35 {
  font-size: 0.625rem;
  margin: 43px 633px 60px 423px;
}

.u-section-4 .u-btn-5 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-top: 1232px;
    margin-right: 599px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -1180px;
    margin-right: 664px;
    margin-left: 189px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 191px;
    margin-left: 666px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 874px;
    margin-left: 66px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 819px;
    margin-left: 129px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 742px;
    margin-left: 195px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 645px;
    margin-left: 207px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 562px;
    margin-left: 295px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 388px;
    margin-left: 517px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 318px;
    margin-left: 590px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 254px;
    margin-left: 670px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 111px;
    margin-left: 742px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 29px;
    margin-left: 829px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 457px;
    margin-right: 20px;
    margin-left: 836px;
  }

  .u-section-4 .u-text-15 {
    margin-top: -186px;
    margin-right: 561px;
    margin-left: 295px;
  }

  .u-section-4 .u-text-16 {
    margin-top: -193px;
    margin-right: 683px;
    margin-left: 200px;
  }

  .u-section-4 .u-text-17 {
    margin-top: 269px;
    margin-right: 57px;
    margin-left: 592px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -496px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 30px;
  }

  .u-section-4 .u-icon-11 {
    margin-top: -252px;
  }

  .u-section-4 .u-icon-15 {
    margin-top: 234px;
  }

  .u-section-4 .u-icon-16 {
    margin-top: -63px;
  }

  .u-section-4 .u-icon-17 {
    margin-top: 10px;
  }

  .u-section-4 .u-icon-18 {
    margin-top: -31px;
  }

  .u-section-4 .u-icon-19 {
    margin-top: -64px;
  }

  .u-section-4 .u-text-18 {
    margin-top: -177px;
    margin-right: 844px;
    margin-left: 12px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 775px;
    margin-left: 167px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 684px;
    margin-left: 168px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 598px;
    margin-left: 259px;
  }

  .u-section-4 .u-text-22 {
    margin-right: 364px;
    margin-left: 524px;
  }

  .u-section-4 .u-text-23 {
    margin-right: 279px;
    margin-left: 597px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 202px;
    margin-left: 678px;
  }

  .u-section-4 .u-text-25 {
    margin-right: 103px;
    margin-left: 751px;
  }

  .u-section-4 .u-text-26 {
    margin-right: 20px;
    margin-left: 837px;
  }

  .u-section-4 .u-text-27 {
    margin-top: 161px;
    margin-right: 598px;
    margin-left: 258px;
  }

  .u-section-4 .u-text-28 {
    margin-top: -63px;
    margin-right: 19px;
    margin-left: 837px;
  }

  .u-section-4 .u-text-29 {
    margin-top: -20px;
    margin-right: 682px;
    margin-left: 148px;
  }

  .u-section-4 .u-icon-20 {
    margin-top: 179px;
  }

  .u-section-4 .u-text-30 {
    margin-top: -122px;
    margin-right: 618px;
    margin-left: 236px;
  }

  .u-section-4 .u-text-31 {
    margin-top: 62px;
    margin-right: 879px;
    margin-left: 9px;
  }

  .u-section-4 .u-text-32 {
    margin-right: 794px;
    margin-left: 82px;
  }

  .u-section-4 .u-text-33 {
    margin-right: 717px;
    margin-left: 163px;
  }

  .u-section-4 .u-text-34 {
    margin-top: -105px;
    margin-right: 533px;
    margin-left: 323px;
  }

  .u-section-4 .u-text-35 {
    margin-right: 533px;
    margin-bottom: 0;
    margin-left: 323px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-top: 2356px;
    margin-right: 379px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -2148px;
    margin-right: 554px;
    margin-left: 145px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 146px;
    margin-left: 556px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 654px;
    margin-left: 51px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 656px;
    margin-left: 99px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 632px;
    margin-left: 149px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 535px;
    margin-left: 97px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 452px;
    margin-left: 185px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 297px;
    margin-left: 407px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 244px;
    margin-left: 480px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 195px;
    margin-left: 560px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 1px;
    margin-left: 632px;
  }

  .u-section-4 .u-text-13 {
    margin-right: 0;
    margin-left: 638px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 673px;
    margin-right: 0;
    margin-left: 636px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 451px;
    margin-left: 185px;
  }

  .u-section-4 .u-text-16 {
    margin-top: -409px;
    margin-right: 573px;
    margin-left: 153px;
  }

  .u-section-4 .u-text-17 {
    margin-top: 317px;
    margin-right: 0;
    margin-left: 429px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -544px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 78px;
  }

  .u-section-4 .u-icon-11 {
    margin-top: -300px;
  }

  .u-section-4 .u-icon-13 {
    margin-right: 678px;
  }

  .u-section-4 .u-icon-15 {
    margin-top: 282px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 636px;
    margin-left: 0;
  }

  .u-section-4 .u-text-19 {
    margin-right: 656px;
    margin-left: 128px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 574px;
    margin-left: 58px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 488px;
    margin-left: 149px;
  }

  .u-section-4 .u-text-22 {
    margin-right: 254px;
    margin-left: 414px;
  }

  .u-section-4 .u-text-23 {
    margin-right: 169px;
    margin-left: 487px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 92px;
    margin-left: 568px;
  }

  .u-section-4 .u-text-25 {
    margin-right: 0;
    margin-left: 634px;
  }

  .u-section-4 .u-text-26 {
    margin-right: 0;
    margin-left: 637px;
  }

  .u-section-4 .u-text-27 {
    margin-right: 488px;
    margin-left: 148px;
  }

  .u-section-4 .u-text-28 {
    margin-right: 0;
    margin-left: 636px;
  }

  .u-section-4 .u-text-29 {
    margin-right: 572px;
    margin-left: 38px;
  }

  .u-section-4 .u-text-30 {
    margin-right: 508px;
    margin-left: 126px;
  }

  .u-section-4 .u-text-31 {
    margin-right: 668px;
    margin-left: 0;
  }

  .u-section-4 .u-text-32 {
    margin-right: 656px;
    margin-left: 0;
  }

  .u-section-4 .u-text-33 {
    margin-right: 607px;
    margin-left: 53px;
  }

  .u-section-4 .u-text-34 {
    margin-right: 423px;
    margin-left: 213px;
  }

  .u-section-4 .u-text-35 {
    margin-right: 423px;
    margin-left: 213px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 2316px;
    margin-right: 199px;
  }

  .u-section-4 .u-text-2 {
    margin-top: -2076px;
    margin-right: 393px;
    margin-left: 109px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 110px;
    margin-left: 398px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 474px;
    margin-left: 38px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 476px;
    margin-left: 74px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 479px;
    margin-left: 112px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 445px;
    margin-left: 7px;
  }

  .u-section-4 .u-text-8 {
    margin-right: 362px;
    margin-left: 95px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 223px;
    margin-left: 317px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 183px;
    margin-left: 390px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 146px;
    margin-left: 470px;
  }

  .u-section-4 .u-text-12 {
    margin-right: 0;
    margin-left: 453px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 458px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 721px;
    margin-left: 456px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 361px;
    margin-left: 95px;
  }

  .u-section-4 .u-text-16 {
    margin-top: -457px;
    margin-right: 431px;
    margin-left: 115px;
  }

  .u-section-4 .u-text-17 {
    margin-top: 365px;
    margin-left: 249px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -592px;
  }

  .u-section-4 .u-image-4 {
    margin-top: 126px;
  }

  .u-section-4 .u-icon-11 {
    margin-top: -348px;
  }

  .u-section-4 .u-icon-13 {
    margin-right: 498px;
  }

  .u-section-4 .u-icon-15 {
    margin-top: 330px;
    margin-left: 494px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 456px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 476px;
    margin-left: 96px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 452px;
    margin-left: 0;
  }

  .u-section-4 .u-text-21 {
    margin-right: 398px;
    margin-left: 59px;
  }

  .u-section-4 .u-text-22 {
    margin-right: 164px;
    margin-left: 324px;
  }

  .u-section-4 .u-text-23 {
    margin-right: 79px;
    margin-left: 397px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 2px;
    margin-left: 478px;
  }

  .u-section-4 .u-text-25 {
    margin-left: 454px;
  }

  .u-section-4 .u-text-26 {
    margin-left: 457px;
  }

  .u-section-4 .u-text-27 {
    margin-right: 398px;
    margin-left: 58px;
  }

  .u-section-4 .u-text-28 {
    margin-left: 456px;
  }

  .u-section-4 .u-text-29 {
    margin-right: 430px;
    margin-left: 0;
  }

  .u-section-4 .u-text-30 {
    margin-right: 418px;
    margin-left: 36px;
  }

  .u-section-4 .u-text-31 {
    margin-right: 488px;
  }

  .u-section-4 .u-text-32 {
    margin-right: 476px;
  }

  .u-section-4 .u-text-33 {
    margin-right: 480px;
    margin-left: 0;
  }

  .u-section-4 .u-text-34 {
    margin-right: 333px;
    margin-left: 123px;
  }

  .u-section-4 .u-text-35 {
    margin-right: 333px;
    margin-left: 123px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1419px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 1526px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-top: -1222px;
    margin-right: 193px;
    margin-left: 69px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 69px;
    margin-left: 198px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 185px;
    margin-left: 0;
  }

  .u-section-4 .u-image-2 {
    width: 340px;
    height: 185px;
    margin-top: -185px;
    margin-right: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-icon-2 {
    margin-left: 298px;
  }

  .u-section-4 .u-icon-5 {
    margin-left: 294px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 274px;
    margin-left: 24px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 276px;
    margin-left: 47px;
  }

  .u-section-4 .u-text-6 {
    margin-right: 279px;
    margin-left: 71px;
  }

  .u-section-4 .u-text-7 {
    margin-right: 252px;
    margin-left: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 257px;
    margin-left: 0;
  }

  .u-section-4 .u-icon-6 {
    margin-right: 294px;
  }

  .u-section-4 .u-text-9 {
    margin-right: 140px;
    margin-left: 217px;
  }

  .u-section-4 .u-icon-7 {
    margin-right: 310px;
  }

  .u-section-4 .u-icon-8 {
    margin-right: 294px;
  }

  .u-section-4 .u-text-10 {
    margin-right: 115px;
    margin-left: 276px;
  }

  .u-section-4 .u-text-11 {
    margin-right: 92px;
    margin-left: 279px;
  }

  .u-section-4 .u-text-12 {
    margin-left: 253px;
  }

  .u-section-4 .u-text-13 {
    margin-left: 258px;
  }

  .u-section-4 .u-text-14 {
    margin-top: 363px;
    margin-left: 256px;
  }

  .u-section-4 .u-text-15 {
    margin-right: 256px;
    margin-left: 0;
  }

  .u-section-4 .u-text-16 {
    margin-top: -129px;
    margin-right: 231px;
    margin-left: 72px;
  }

  .u-section-4 .u-text-17 {
    margin-top: 276px;
    margin-left: 49px;
  }

  .u-section-4 .u-image-3 {
    width: 340px;
    height: 185px;
    margin-top: -532px;
    margin-left: 0;
  }

  .u-section-4 .u-image-4 {
    width: 340px;
    height: 185px;
    margin-top: 123px;
    margin-right: 0;
  }

  .u-section-4 .u-icon-11 {
    margin-top: -288px;
  }

  .u-section-4 .u-icon-13 {
    margin-right: 298px;
  }

  .u-section-4 .u-icon-14 {
    margin-left: 294px;
  }

  .u-section-4 .u-icon-15 {
    margin-top: 327px;
    margin-left: 294px;
  }

  .u-section-4 .u-icon-16 {
    margin-right: 310px;
  }

  .u-section-4 .u-icon-17 {
    margin-right: 294px;
  }

  .u-section-4 .u-text-18 {
    margin-right: 256px;
  }

  .u-section-4 .u-text-19 {
    margin-right: 276px;
    margin-left: 60px;
  }

  .u-section-4 .u-text-20 {
    margin-right: 252px;
  }

  .u-section-4 .u-text-21 {
    margin-right: 257px;
    margin-left: 0;
  }

  .u-section-4 .u-text-22 {
    margin-right: 64px;
    margin-left: 224px;
  }

  .u-section-4 .u-text-23 {
    margin-right: 0;
    margin-left: 276px;
  }

  .u-section-4 .u-text-24 {
    margin-right: 0;
    margin-left: 280px;
  }

  .u-section-4 .u-text-25 {
    margin-left: 254px;
  }

  .u-section-4 .u-text-26 {
    margin-left: 257px;
  }

  .u-section-4 .u-text-27 {
    margin-top: -22px;
    margin-right: 256px;
    margin-left: 0;
  }

  .u-section-4 .u-text-28 {
    margin-left: 256px;
  }

  .u-section-4 .u-text-29 {
    margin-top: 163px;
    margin-right: 230px;
  }

  .u-section-4 .u-image-5 {
    width: 340px;
    height: 185px;
    margin-left: 0;
  }

  .u-section-4 .u-icon-20 {
    margin-top: 53px;
  }

  .u-section-4 .u-icon-23 {
    margin-left: 298px;
  }

  .u-section-4 .u-icon-24 {
    margin-left: 294px;
  }

  .u-section-4 .u-text-30 {
    margin-right: 254px;
    margin-left: 0;
  }

  .u-section-4 .u-text-31 {
    margin-right: 288px;
  }

  .u-section-4 .u-text-32 {
    margin-right: 276px;
  }

  .u-section-4 .u-text-33 {
    margin-right: 280px;
  }

  .u-section-4 .u-text-34 {
    margin-right: 233px;
    margin-left: 23px;
  }

  .u-section-4 .u-text-35 {
    margin-right: 233px;
    margin-left: 23px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 92px;
}

.u-section-5 .u-text-1 {
  letter-spacing: 1.1px;
  margin: 20px 1063px 0 0;
}

.u-section-5 .u-line-1 {
  width: 1150px;
  margin: 11px -5px 28px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-1 {
    margin-right: 863px;
  }

  .u-section-5 .u-line-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-text-1 {
    margin-right: 643px;
  }

  .u-section-5 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-text-1 {
    margin-right: 463px;
  }

  .u-section-5 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    margin-right: 263px;
  }

  .u-section-5 .u-line-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 756px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  margin: 30px 757px 0 42px;
}

.u-section-6 .u-text-2 {
  font-family: "Yeseva One";
  font-size: 2.1875rem;
  margin: 47px 198px 0 769px;
}

.u-section-6 .u-text-3 {
  font-family: "Yeseva One";
  font-size: 2.1875rem;
  margin: -56px 739px 0 224px;
}

.u-section-6 .u-image-1 {
  width: 435px;
  height: 237px;
  margin: 5px 625px 0 auto;
}

.u-section-6 .u-image-2 {
  width: 435px;
  height: 237px;
  margin: -293px 80px 0 auto;
}

.u-section-6 .u-btn-1 {
  font-size: 0.75rem;
  margin: 94px 625px 0 auto;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  font-size: 0.75rem;
  margin: -19px 80px 0 auto;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.75rem;
  margin: 86px auto 0 361px;
}

.u-section-6 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  font-size: 0.75rem;
  margin: -43px auto 60px 630px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 48px;
    margin-right: 599px;
    margin-left: 35px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -22px;
    margin-right: 98px;
    margin-left: 669px;
  }

  .u-section-6 .u-text-3 {
    margin-top: -77px;
    margin-right: 639px;
    margin-left: 124px;
  }

  .u-section-6 .u-image-1 {
    margin-top: -29px;
    margin-right: 505px;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 38px;
    margin-right: 425px;
  }

  .u-section-6 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 261px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 530px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-right: 379px;
    margin-left: 27px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
    margin-left: 547px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 529px;
    margin-left: 14px;
  }

  .u-section-6 .u-image-1 {
    margin-right: 285px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 205px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 180px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 390px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-right: 199px;
    margin-left: 20px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -47px;
    margin-left: 367px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 363px;
    margin-left: 0;
  }

  .u-section-6 .u-image-1 {
    margin-right: 105px;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 25px;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 176px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 206px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -4px;
    margin-right: 0;
    margin-left: 13px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -72px;
    margin-left: 167px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 163px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 185px;
    margin-top: 23px;
    margin-right: 0;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 185px;
    margin-top: -241px;
    margin-right: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-6 .u-btn-3 {
    margin-left: 76px;
  }

  .u-section-6 .u-btn-4 {
    margin-left: 76px;
  }
}.u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 288px;
}

.u-section-7 .u-image-1 {
  width: 81px;
  height: 81px;
  margin: 70px auto 0 180px;
}

.u-section-7 .u-image-2 {
  width: 115px;
  height: 73px;
  margin: -81px auto 0 410px;
}

.u-section-7 .u-image-3 {
  width: 86px;
  height: 85px;
  margin: -73px 394px 0 637px;
}

.u-section-7 .u-image-4 {
  width: 90px;
  height: 84px;
  margin: -90px 192px 0 871px;
}

.u-section-7 .u-text-1 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: 700;
  margin: 17px 123px 0 815px;
}

.u-section-7 .u-text-2 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: 700;
  margin: -38px 400px 0 619px;
}

.u-section-7 .u-text-3 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: 700;
  margin: -38px 610px 0 398px;
}

.u-section-7 .u-text-4 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: 700;
  margin: -57px 830px 74px 142px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-image-3 {
    margin-right: 306px;
    margin-left: 549px;
  }

  .u-section-7 .u-image-4 {
    margin-right: 86px;
    margin-left: 765px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 101px;
    margin-left: 688px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 519px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 510px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 730px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-image-3 {
    margin-right: 196px;
    margin-left: 439px;
  }

  .u-section-7 .u-image-4 {
    margin-right: 0;
    margin-left: 630px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 77px;
    margin-left: 527px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 409px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 400px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 552px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-3 {
    margin-right: 106px;
    margin-left: 349px;
  }

  .u-section-7 .u-image-4 {
    margin-left: 450px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 58px;
    margin-left: 395px;
  }

  .u-section-7 .u-text-2 {
    margin-left: 319px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 310px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 372px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-image-2 {
    margin-left: 225px;
  }

  .u-section-7 .u-image-3 {
    margin-right: 6px;
    margin-left: 249px;
  }

  .u-section-7 .u-image-4 {
    margin-left: 250px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 37px;
    margin-left: 249px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 252px;
    margin-left: 219px;
  }

  .u-section-7 .u-text-3 {
    margin-right: 208px;
    margin-left: 251px;
  }

  .u-section-7 .u-text-4 {
    margin-right: 172px;
  }
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 405px;
}

.u-section-8 .u-line-1 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: auto;
  top: 97px;
  right: 150px;
  margin-left: 885px;
}

.u-section-8 .u-line-2 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: auto;
  top: 168px;
  right: 150px;
  margin-left: 885px;
}

.u-section-8 .u-line-3 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: 1356px;
  top: 112px;
  right: 357px;
  margin-left: 678px;
}

.u-section-8 .u-line-4 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  left: auto;
  top: 134px;
  right: 150px;
  margin-left: 885px;
}

.u-section-8 .u-line-5 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  top: 205px;
  left: auto;
  right: 150px;
  margin-left: 885px;
}

.u-section-8 .u-line-6 {
  transform-origin: right center 0px;
  position: absolute;
  width: 105px;
  top: 236px;
  left: auto;
  right: 150px;
}

.u-section-8 .u-image-1 {
  width: 16px;
  height: 29px;
  margin: 61px 13px 0 auto;
}

.u-section-8 .u-image-2 {
  width: 28px;
  height: 28px;
  margin: -28px 56px 0 auto;
}

.u-section-8 .u-text-1 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 700;
  margin: -22px 186px 0 885px;
}

.u-section-8 .u-btn-1 {
  padding: 0;
}

.u-section-8 .u-btn-2 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -25px auto 0 633px;
  padding: 0;
}

.u-section-8 .u-btn-3 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -22px auto 0 404px;
  padding: 0;
}

.u-section-8 .u-btn-4 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: 14px auto 0 885px;
  padding: 0;
}

.u-section-8 .u-btn-5 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -27px auto 0 633px;
  padding: 0;
}

.u-section-8 .u-text-2 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 700;
  margin: 20px 160px 0 885px;
}

.u-section-8 .u-btn-6 {
  padding: 0;
}

.u-section-8 .u-btn-7 {
  font-weight: 700;
  font-size: 0.875rem;
  margin: -10px auto 0 885px;
  padding: 0;
}

.u-section-8 .u-btn-8 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -66px auto 0 633px;
  padding: 0;
}

.u-section-8 .u-btn-9 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 633px;
  padding: 0;
}

.u-section-8 .u-text-3 {
  font-family: "Josefin Sans";
  font-size: 0.875rem;
  font-weight: 700;
  margin: 24px 122px 0 885px;
}

.u-section-8 .u-btn-10 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -36px auto 0 633px;
  padding: 0;
}

.u-section-8 .u-btn-11 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 633px;
  padding: 0;
}

.u-section-8 .u-btn-12 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: -149px auto 0 404px;
  padding: 0;
}

.u-section-8 .u-btn-13 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-8 .u-btn-14 {
  font-size: 0.75rem;
  font-weight: normal;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-8 .u-btn-15 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-8 .u-btn-16 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 31px auto 0 633px;
  padding: 0;
}

.u-section-8 .u-btn-17 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: -43px auto 0 404px;
  padding: 0;
}

.u-section-8 .u-btn-18 {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 10px auto 0 404px;
  padding: 0;
}

.u-section-8 .u-image-3 {
  width: 230px;
  height: 59px;
  margin: -227px 838px 0 auto;
}

.u-section-8 .u-image-4 {
  width: 160px;
  height: 60px;
  margin: 18px 838px 0 auto;
}

.u-section-8 .u-image-5 {
  width: 60px;
  height: 42px;
  margin: -51px auto 0 72px;
}

.u-section-8 .u-text-4 {
  font-family: "Josefin Sans";
  font-size: 0.75rem;
  font-weight: normal;
  margin: 18px 897px 0 72px;
}

.u-section-8 .u-text-5 {
  font-family: Poppins;
  font-weight: 500;
  font-size: 0.625rem;
  margin: 99px 120px 10px 633px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-line-1 {
    margin-top: 0;
    margin-left: 835px;
  }

  .u-section-8 .u-line-2 {
    margin-top: 0;
    margin-left: 835px;
  }

  .u-section-8 .u-line-3 {
    margin-top: 678px;
  }

  .u-section-8 .u-line-4 {
    margin-top: 0;
    margin-left: 835px;
  }

  .u-section-8 .u-line-5 {
    height: 1px;
    margin-left: 835px;
  }

  .u-section-8 .u-line-6 {
    height: 1px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 86px;
    margin-left: 785px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: -14px;
    margin-left: 433px;
  }

  .u-section-8 .u-btn-3 {
    margin-top: -79px;
    margin-left: 204px;
  }

  .u-section-8 .u-btn-4 {
    margin-top: 62px;
    margin-left: 685px;
  }

  .u-section-8 .u-btn-5 {
    margin-left: 433px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 60px;
    margin-left: 785px;
  }

  .u-section-8 .u-btn-7 {
    margin-left: 685px;
  }

  .u-section-8 .u-btn-8 {
    margin-top: -61px;
    margin-left: 433px;
  }

  .u-section-8 .u-btn-9 {
    margin-top: -32px;
    margin-left: 433px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -11px;
    margin-right: 22px;
    margin-left: 785px;
  }

  .u-section-8 .u-btn-10 {
    margin-left: 433px;
  }

  .u-section-8 .u-btn-11 {
    margin-top: 63px;
    margin-left: 433px;
  }

  .u-section-8 .u-btn-12 {
    margin-top: -151px;
    margin-left: 204px;
  }

  .u-section-8 .u-btn-13 {
    margin-top: 7px;
    margin-left: 204px;
  }

  .u-section-8 .u-btn-14 {
    margin-top: 1px;
    margin-left: 204px;
  }

  .u-section-8 .u-btn-15 {
    margin-top: 13px;
    margin-left: 204px;
  }

  .u-section-8 .u-btn-16 {
    margin-top: 70px;
    margin-left: 433px;
  }

  .u-section-8 .u-btn-17 {
    margin-top: -27px;
    margin-left: 204px;
  }

  .u-section-8 .u-btn-18 {
    margin-top: -88px;
    margin-left: 204px;
  }

  .u-section-8 .u-image-3 {
    margin-top: -234px;
    margin-right: 710px;
  }

  .u-section-8 .u-image-4 {
    margin-top: 22px;
    margin-right: 710px;
  }

  .u-section-8 .u-image-5 {
    margin-top: -81px;
  }

  .u-section-8 .u-text-4 {
    margin-top: 183px;
    margin-right: 697px;
  }

  .u-section-8 .u-text-5 {
    margin-right: 20px;
    margin-left: 533px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-line-1 {
    left: 509px;
    margin-left: 615px;
  }

  .u-section-8 .u-line-2 {
    left: 509px;
    margin-left: 615px;
  }

  .u-section-8 .u-line-3 {
    left: 1323px;
    margin-left: 615px;
  }

  .u-section-8 .u-line-4 {
    left: 509px;
    margin-left: 615px;
  }

  .u-section-8 .u-line-5 {
    margin-left: 615px;
  }

  .u-section-8 .u-image-2 {
    margin-left: 852px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 0;
    margin-left: 651px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 1684px;
    margin-left: 213px;
  }

  .u-section-8 .u-btn-3 {
    margin-top: -8px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-4 {
    margin-top: 96px;
    margin-left: 465px;
  }

  .u-section-8 .u-btn-5 {
    margin-top: -61px;
    margin-left: 213px;
  }

  .u-section-8 .u-text-2 {
    margin-top: -1704px;
    margin-right: 0;
    margin-left: 625px;
  }

  .u-section-8 .u-btn-7 {
    margin-top: 1725px;
    margin-left: 465px;
  }

  .u-section-8 .u-btn-8 {
    margin-top: -72px;
    margin-left: 213px;
  }

  .u-section-8 .u-btn-9 {
    margin-left: 213px;
  }

  .u-section-8 .u-text-3 {
    margin-top: -1707px;
    margin-right: 0;
    margin-left: 651px;
  }

  .u-section-8 .u-btn-10 {
    margin-top: 1704px;
    margin-left: 213px;
  }

  .u-section-8 .u-btn-11 {
    margin-top: -25px;
    margin-left: 213px;
  }

  .u-section-8 .u-btn-12 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-13 {
    margin-top: 29px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-14 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-15 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-16 {
    margin-top: 48px;
    margin-left: 213px;
  }

  .u-section-8 .u-btn-17 {
    margin-top: -5px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-18 {
    margin-top: 11px;
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    margin-top: -289px;
    margin-right: 490px;
  }

  .u-section-8 .u-image-4 {
    margin-right: 490px;
  }

  .u-section-8 .u-text-4 {
    margin-top: -1535px;
    margin-right: 477px;
  }

  .u-section-8 .u-text-5 {
    margin: 1652px 0 0 333px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-line-1 {
    margin-left: 435px;
  }

  .u-section-8 .u-line-2 {
    margin-left: 435px;
  }

  .u-section-8 .u-line-3 {
    left: 1143px;
    margin-left: 435px;
    margin-top: 615px;
  }

  .u-section-8 .u-line-4 {
    margin-left: 435px;
  }

  .u-section-8 .u-line-5 {
    margin-left: 435px;
  }

  .u-section-8 .u-image-2 {
    margin-left: 762px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 471px;
  }

  .u-section-8 .u-btn-2 {
    margin-left: 33px;
  }

  .u-section-8 .u-btn-4 {
    margin-left: 285px;
  }

  .u-section-8 .u-btn-5 {
    margin-left: 33px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 445px;
  }

  .u-section-8 .u-btn-7 {
    margin-left: 285px;
  }

  .u-section-8 .u-btn-8 {
    margin-left: 33px;
  }

  .u-section-8 .u-btn-9 {
    margin-left: 33px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 471px;
  }

  .u-section-8 .u-btn-10 {
    margin-left: 33px;
  }

  .u-section-8 .u-btn-11 {
    margin-left: 33px;
  }

  .u-section-8 .u-btn-16 {
    margin-left: 33px;
  }

  .u-section-8 .u-image-3 {
    margin-right: 310px;
  }

  .u-section-8 .u-image-4 {
    margin-right: 310px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 297px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 153px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-line-1 {
    margin-left: 235px;
  }

  .u-section-8 .u-line-2 {
    margin-left: 235px;
  }

  .u-section-8 .u-line-3 {
    left: 943px;
    margin-left: 235px;
    margin-top: 435px;
  }

  .u-section-8 .u-line-4 {
    margin-left: 235px;
  }

  .u-section-8 .u-line-5 {
    margin-left: 235px;
  }

  .u-section-8 .u-image-2 {
    margin-left: 662px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 271px;
  }

  .u-section-8 .u-btn-2 {
    margin-top: 1748px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-4 {
    margin-left: 85px;
  }

  .u-section-8 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-top: -1768px;
    margin-left: 245px;
  }

  .u-section-8 .u-btn-7 {
    margin-top: 1789px;
    margin-left: 85px;
  }

  .u-section-8 .u-btn-8 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-9 {
    margin-left: 0;
  }

  .u-section-8 .u-text-3 {
    margin-top: -1771px;
    margin-left: 271px;
  }

  .u-section-8 .u-btn-10 {
    margin-top: 1768px;
    margin-left: 0;
  }

  .u-section-8 .u-btn-11 {
    margin-left: 0;
  }

  .u-section-8 .u-btn-16 {
    margin-left: 0;
  }

  .u-section-8 .u-image-3 {
    margin-right: 110px;
  }

  .u-section-8 .u-image-4 {
    margin-right: 110px;
  }

  .u-section-8 .u-text-4 {
    margin-top: -1599px;
    margin-right: 97px;
  }

  .u-section-8 .u-text-5 {
    margin-top: 1700px;
    margin-left: 0;
  }
}